Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

fix(shopping-lists): B2B-3301 Fixed selection resetting when updating quantity, notes, or options in the table
  apps/storefront/src/components/table/B3PaginationTable.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailTable.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
Due: npx cspell lint

test(common): B2BCAT-19 Reset cookies & window.b2b after each test
  apps/storefront/src/pages/Dashboard/index.mobile.test.tsx
  apps/storefront/src/pages/Dashboard/index.test.tsx
  apps/storefront/src/pages/PDP/index.b2b.test.tsx
  apps/storefront/src/pages/PDP/index.b2c.test.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuickOrder/index.quickadd.test.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
  apps/storefront/tests/setup-test-environment.ts
  patches/@mui+material+5.18.0.patch
Due: npx cspell lint

test(orders): B2BCAT-19 Add tests for re-order & add-to-shopping-list
  apps/storefront/src/pages/OrderDetail/components/OrderCheckboxProduct.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/orders.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3337 include add to cart error unit tests
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3337 remove imports from other spec file
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

docs(common): B2BCAT-88 refactor mutation namespaces
  rfc/graphql-schema/additionalTypeDefs/byPage/addresses.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/companyHierarchy.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/dashboard.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/invoices.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingLists.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/userManagement.ts
Due: npx cspell lint

fix(shopping-lists): B2B-3301 cleared the unnecessary test mocks and spy functions
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

test(quotes): B2B-3329 Add unit tests for adding product to quote from PDP page
  apps/storefront/src/hooks/dom/utils.test.ts
Due: npx cspell lint

docs(common): B2B-3434 Add release information to README
  README.md
Due: npx cspell lint

chore(common): B2BCAT-4 Remove unnecessary dependencies from rfc/graphql-schema
  graphql.config.ts
  rfc/graphql-schema/package.json
  rfc/graphql-schema/yarn.lock
Due: prettier --write, npx cspell lint

docs(account): B2BCAT-4 Add draft schema for account settings
  rfc/graphql-schema/additionalTypeDefs/byPage/accountSettings.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/addresses.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/userManagement.ts
  rfc/graphql-schema/additionalTypeDefs/companyRegistration.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

docs(account): B2BCAT-4 Add draft schema for account settings
  rfc/graphql-schema/additionalTypeDefs/byPage/accountSettings.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/addresses.ts
  rfc/graphql-schema/additionalTypeDefs/companyRegistration.ts
Due: npx cspell lint

docs(orders): B2BCAT-67 Add required fields for OrderDetails
  rfc/graphql-schema/additionalTypeDefs/byPage/invoices.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/orders.ts
Due: npx cspell lint

chore(common): CATALYST-1444 move over to utilizing @bigcommerce/eslint-config for every package
  .gitignore
  .vscode/settings.example.json
  apps/storefront/.eslintrc.json
  apps/storefront/package.json
  apps/storefront/src/components/captcha/Captcha.tsx
  apps/storefront/src/store/.eslintrc.json
  apps/storefront/src/utils/b3Logger.ts
  apps/storefront/tests/assertQueryParams.tsx
  package.json
  packages/eslint-config-b2b/.eslintrc.js
  packages/eslint-config-b2b/.lintstagedrc.json
  packages/eslint-config-b2b/package.json
  packages/eslint-config-bc/.eslintrc.js
  packages/eslint-config-bc/.lintstagedrc.json
  packages/eslint-config-bc/package.json
  packages/global-b3/.eslintrc.json
  packages/global-b3/package.json
  packages/hooks/.eslintrc.json
  packages/hooks/package.json
  packages/lang/.eslintrc.json
  packages/lang/package.json
  packages/utils/.eslintrc.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write, npx cspell lint

chore(common): CATALYST-1444 ignore eslint --fix for git blame
  .git-blame-ignore-revs
Due: none

chore: CATALYST-1444 remove unused utils pacakge
  apps/storefront/package.json
  packages/utils/.eslintrc.json
  packages/utils/.lintstagedrc.json
  packages/utils/Lang/index.ts
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
Due: prettier --write, npx cspell lint

chore: CATALYST-1444 move hooks over into apps/storefront
  apps/storefront/package.json
  apps/storefront/src/components/B3LinkTipContent.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/hooks/index.ts
  apps/storefront/src/hooks/useB2BCallback.ts
  apps/storefront/src/hooks/useCardListColumn.ts
  apps/storefront/src/hooks/useWindowSize.ts
  apps/storefront/src/index.d.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/Login/useLogout.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/AddToShoppingList.tsx
  apps/storefront/src/utils/b3CallbackManager.ts
  apps/storefront/src/utils/cartUtils.ts
  packages/hooks/.eslintrc.json
  packages/hooks/.lintstagedrc.json
  packages/hooks/index.d.ts
  packages/hooks/index.ts
  packages/hooks/package.json
  packages/hooks/tsconfig.json
Due: prettier --write, npx cspell lint

chore: CATALYST-1444 move global-b3 over into apps/storefront
  apps/storefront/package.json
  apps/storefront/src/HeadlessController/index.tsx
  apps/storefront/src/hooks/dom/useCartToQuote.ts
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/useOpenPDP.ts
  apps/storefront/src/hooks/dom/useRegisteredbctob2b.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/hooks/useB3AppOpen.ts
  apps/storefront/src/lib/config/index.ts
  apps/storefront/src/load-functions.ts
  apps/storefront/src/pages/PDP/index.tsx
  apps/storefront/src/utils/b3HideRegister.ts
  apps/storefront/src/utils/b3HideStorefrontElement.ts
  packages/global-b3/.eslintrc.json
  packages/global-b3/.lintstagedrc.json
  packages/global-b3/index.d.ts
  packages/global-b3/package.json
  packages/global-b3/tsconfig.json
Due: prettier --write, npx cspell lint

chore: CATALYST-1444 inline tsconfig over into apps/storefront
  apps/storefront/package.json
  apps/storefront/tsconfig.json
  packages/tsconfig/.lintstagedrc.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/tsconfig/vite.json
Due: prettier --write, npx cspell lint

chore(common): CATALYST-1444 remove unused utils pacakge
  apps/storefront/package.json
  packages/utils/.eslintrc.json
  packages/utils/.lintstagedrc.json
  packages/utils/Lang/index.ts
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
Due: prettier --write, npx cspell lint

chore(common): B2BCAT-90 Remove c8 (not used)
  apps/storefront/package.json
  yarn.lock
Due: prettier --write

chore(common): CATALYST-1444 move hooks over into apps/storefront
  apps/storefront/package.json
  apps/storefront/src/components/B3LinkTipContent.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/hooks/index.ts
  apps/storefront/src/hooks/useB2BCallback.ts
  apps/storefront/src/hooks/useCardListColumn.ts
  apps/storefront/src/hooks/useWindowSize.ts
  apps/storefront/src/index.d.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/Login/useLogout.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/AddToShoppingList.tsx
  apps/storefront/src/utils/b3CallbackManager.ts
  apps/storefront/src/utils/cartUtils.ts
  packages/hooks/.eslintrc.json
  packages/hooks/.lintstagedrc.json
  packages/hooks/index.d.ts
  packages/hooks/index.ts
  packages/hooks/package.json
  packages/hooks/tsconfig.json
Due: prettier --write, npx cspell lint

chore(common): CATALYST-1444 move global-b3 over into apps/storefront
  apps/storefront/package.json
  apps/storefront/src/HeadlessController/index.tsx
  apps/storefront/src/hooks/dom/useCartToQuote.ts
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/useOpenPDP.ts
  apps/storefront/src/hooks/dom/useRegisteredbctob2b.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/hooks/useB3AppOpen.ts
  apps/storefront/src/lib/config/index.ts
  apps/storefront/src/load-functions.ts
  apps/storefront/src/pages/PDP/index.tsx
  apps/storefront/src/utils/b3HideRegister.ts
  apps/storefront/src/utils/b3HideStorefrontElement.ts
  packages/global-b3/.eslintrc.json
  packages/global-b3/.lintstagedrc.json
  packages/global-b3/index.d.ts
  packages/global-b3/package.json
  packages/global-b3/tsconfig.json
Due: prettier --write, npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
