Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

feat(common): LOCAL-3191 fix because https://github.com/bigcommerce/b2b-buyer-portal/pull/847#discussion_r3174278470
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(common): LOCAL-3191 review fix #3
  apps/storefront/src/components/layout/B3LocaleSwitcher.tsx
  apps/storefront/src/store/slices/global.ts
Due: npx cspell lint

feat(common): LOCAL-3191 review fix #5
  apps/storefront/src/shared/service/bc/graphql/locales.ts
  apps/storefront/src/shared/service/bc/index.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(common): LOCAL-3191 multi-lang dropdown
  apps/storefront/src/components/layout/B3AccountInfo.tsx
  apps/storefront/src/components/layout/B3LocaleSwitcher.test.tsx
  apps/storefront/src/components/layout/B3LocaleSwitcher.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/shared/service/bc/graphql/locales.ts
  apps/storefront/src/shared/service/bc/index.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/featureFlags.ts
  apps/storefront/src/utils/storefrontConfig.ts
  apps/storefront/tests/storeStateBuilders/globalStateBuilder.ts
Due: npx cspell lint

feat(common): LOCAL-3191 review fix #2
  apps/storefront/src/components/layout/B3LocaleSwitcher.test.tsx
  apps/storefront/src/components/layout/B3LocaleSwitcher.tsx
  apps/storefront/src/store/slices/global.ts
  apps/storefront/tests/storeStateBuilders/globalStateBuilder.ts
Due: npx cspell lint

feat(common): LOCAL-3191 review fix #1
  apps/storefront/src/components/layout/B3LocaleSwitcher.tsx
Due: npx cspell lint

feat(common): LOCAL-3191 review fix #4
  apps/storefront/src/components/layout/B3LocaleSwitcher.test.tsx
  apps/storefront/src/components/layout/B3LocaleSwitcher.tsx
Due: npx cspell lint

feat(common): LOCAL-3190 Multi-lang dropdown implementation (#847)
  apps/storefront/src/components/layout/B3AccountInfo.tsx
  apps/storefront/src/components/layout/B3LocaleSwitcher.test.tsx
  apps/storefront/src/components/layout/B3LocaleSwitcher.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/shared/service/bc/graphql/locales.ts
  apps/storefront/src/shared/service/bc/index.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/featureFlags.ts
  apps/storefront/src/utils/storefrontConfig.ts
  apps/storefront/tests/storeStateBuilders/globalStateBuilder.ts
Due: npx cspell lint

feat(orders): B2B-4616 implement Company Orders via SF GQL company-scoped query
  apps/storefront/src/pages/CompanyOrderList/unified-company-orders.test.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/adaptUnifiedToLegacyFilterParams.ts
  apps/storefront/src/pages/order/unifiedApiFiltersHelper.ts
  apps/storefront/src/pages/order/useCompanyOrdersState.ts
  apps/storefront/src/pages/order/useLegacyOrdersFilterState.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

docs(docs): B2B-4863 Add Claude Code plugin setup for internal team members
  AGENTS.md
Due: npx cspell lint

chore(docs): B2B-4863 Exclude docs/agents and .claude files from public repo
  .gitignore
Due: none

refactor(orders): B2B-4623 add hidden prop to B3Table for column visibility and update tests
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/order.test.tsx
  apps/storefront/src/pages/order/table/B3Table.tsx
Due: npx cspell lint

fix(register): B2B-4861 Buyer Portal: Add null check for stateRequired flag and remove FF
  apps/storefront/src/hooks/useGetCountry.ts
  apps/storefront/src/pages/AddressList/components/AddressForm.tsx
  apps/storefront/src/pages/AddressList/index.tsx
  apps/storefront/src/pages/AddressList/shared/getAddressFields.ts
  apps/storefront/src/pages/Registered/RegisterSteps/index.tsx
  apps/storefront/src/pages/Registered/RegisterSteps/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/config.ts
  apps/storefront/src/pages/RegisteredBCToB2B/Register.tsx
  apps/storefront/src/pages/RegisteredBCToB2B/RegistrationForm/useRegistrationForm.ts
  apps/storefront/src/shared/service/b2b/graphql/register.ts
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

docs(common): B2B-4863 Remove internal plugin reference from AGENTS.md
  AGENTS.md
Due: npx cspell lint

chore(common): B2B-4863 Update .gitignore
  .gitignore
Due: none

docs(common): B2B-4863 restore trailing semicolons in AGENTS.md code examples
  AGENTS.md
Due: npx cspell lint

docs(common): B2B-4863 Add AI coding agent setup section to AGENTS.md
  AGENTS.md
Due: npx cspell lint

docs(agents): B2B-4863 Minimize public repo exposure for Claude Code users (#851)
  AGENTS.md
Due: npx cspell lint

fix(orders): B2B-4859 Repair mock schema SDL composition
  rfc/graphql-schema/additionalTypeDefs/byPage/addToShoppingList.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/addresses.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/draftQuote.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/orders.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/quoteDetails.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingListDetails.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/userManagement.ts
Due: npx cspell lint

fix(orders): B2B-4859 Keep mock codegen output type-safe
  apps/storefront/codegen.ts
  apps/storefront/package.json
Due: prettier --write, npx cspell lint

feat(orders): B2B-4859 Route My Orders through unified orders flag
  apps/storefront/src/pages/order/unifiedOrdersAdapter.test.ts
  apps/storefront/src/pages/order/unifiedOrdersAdapter.ts
Due: npx cspell lint

feat(orders): B2B-4859 Add deterministic mock order store
  apps/storefront/src/mocks/store.ts
  apps/storefront/src/mocks/stores/orders.test.ts
  apps/storefront/src/mocks/stores/orders.ts
Due: npx cspell lint

chore(orders): B2B-4859 Narrow mock bundle assertion
  apps/storefront/package.json
Due: prettier --write

chore(orders): B2B-4859 Remove unused gql helper output
  apps/storefront/codegen.ts
  apps/storefront/package.json
  apps/storefront/src/types/gql/gql.ts
Due: prettier --write, npx cspell lint

fix(orders): B2B-4859 Preserve unified order list filters
  apps/storefront/src/pages/order/unifiedOrdersAdapter.test.ts
  apps/storefront/src/pages/order/unifiedOrdersAdapter.ts
Due: npx cspell lint

fix(orders): B2B-4859 Avoid faker rng mutation in order store
  apps/storefront/src/mocks/stores/orders.ts
Due: npx cspell lint

fix(orders): B2B-4859 Keep app startup resilient to mock failures
  apps/storefront/src/mocks/bootstrap.test.ts
  apps/storefront/src/mocks/bootstrap.ts
Due: npx cspell lint

test(orders): B2B-4859 Complete unified order test fixtures
  apps/storefront/src/pages/order/unifiedOrdersAdapter.test.ts
Due: npx cspell lint

fix(orders): B2B-4859 Restore startup comments and handler narrowing
  apps/storefront/src/main.ts
  apps/storefront/src/mocks/handlers.ts
Due: npx cspell lint

feat(orders): B2B-4859 Register owned mock operations
  apps/storefront/src/mocks/registry.test.ts
  apps/storefront/src/mocks/registry.ts
Due: npx cspell lint

fix(orders): B2B-4859 Narrow mock order sort input
  apps/storefront/src/mocks/resolvers/orders.ts
Due: npx cspell lint

fix(orders): B2B-4859 Wrap plain mock resolver responses
  apps/storefront/src/mocks/handlers.test.ts
  apps/storefront/src/mocks/handlers.ts
Due: npx cspell lint

feat(orders): B2B-4859 Add mock schema codegen target
  apps/storefront/codegen.ts
  apps/storefront/package.json
  apps/storefront/src/types/gql/gql.ts
  apps/storefront/src/vite-env.d.ts
  apps/storefront/tsconfig.json
  apps/storefront/vite.config.ts
  yarn.lock
Due: prettier --write, npx cspell lint

test(orders): B2B-4859 Verify mock layer integration
  apps/storefront/.dependency-cruiser.cjs
  apps/storefront/knip.jsonc
  apps/storefront/package.json
  apps/storefront/src/mocks/registry.ts
Due: prettier --write, npx cspell lint

feat(orders): B2B-4859 Enable opt-in mock worker startup
  apps/storefront/package.json
  apps/storefront/public/mockServiceWorker.js
  apps/storefront/src/main.ts
  apps/storefront/src/mocks/bootstrap.test.ts
  apps/storefront/src/mocks/bootstrap.ts
Due: prettier --write, npx cspell lint

fix(orders): B2B-4859 Exclude mock bootstrap from production
  apps/storefront/src/main.ts
  apps/storefront/vite.config.ts
Due: npx cspell lint

fix(orders): B2B-4859 Repair mock codegen generation
  apps/storefront/codegen.ts
  apps/storefront/src/types/gql/gql.ts
  apps/storefront/src/types/gql/graphql.ts
  rfc/graphql-schema/additionalTypeDefs/common.ts
Due: npx cspell lint

fix(orders): B2B-4859 Guard mock order resolver variables
  apps/storefront/src/mocks/resolvers/orders.test.ts
  apps/storefront/src/mocks/resolvers/orders.ts
Due: npx cspell lint

feat(orders): B2B-4859 Add registry-gated mock handlers
  apps/storefront/package.json
  apps/storefront/src/mocks/browser.ts
  apps/storefront/src/mocks/devLog.ts
  apps/storefront/src/mocks/handlers.test.ts
  apps/storefront/src/mocks/handlers.ts
  apps/storefront/src/mocks/registry.test.ts
  apps/storefront/src/mocks/resolvers/orders.test.ts
  apps/storefront/src/mocks/resolvers/orders.ts
  apps/storefront/src/mocks/schema.ts
  apps/storefront/src/mocks/stores/orders.ts
Due: prettier --write, npx cspell lint

chore(orders): B2B-4859 Align cleanup lint configuration
  apps/storefront/.dependency-cruiser.cjs
  apps/storefront/knip.jsonc
Due: none
