Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

fix: url logic to constant
  apps/storefront/.lintstagedrc.json
  apps/storefront/src/components/layout/B3Mainheader.tsx
  apps/storefront/src/utils/getCartUrl.ts
Due: prettier --write, npx cspell lint

fix: add util to sync data between tabs
  apps/storefront/src/store/cross-tab-sync.ts
  apps/storefront/src/store/index.ts
Due: npx cspell lint

feat: order detail display promotion discount
  .cspell.json
  apps/storefront/src/components/B3ProductList.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderShipping.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/types/products.ts
  apps/storefront/src/utils/b3Product/b3Product.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: order show promotion discount
  apps/storefront/src/components/B3ProductList.tsx
Due: npx cspell lint

fix: determine whether the state field is required based on the country
  .cspell.json
  apps/storefront/src/hooks/useGetCountry.ts
  apps/storefront/src/pages/Address/components/AddressForm.tsx
  apps/storefront/src/pages/Address/shared/getAddressFields.ts
  apps/storefront/src/pages/Registered/RegisteredDetail.tsx
  apps/storefront/src/pages/RegisteredBCToB2B/index.tsx
Due: prettier --write, npx cspell lint

fix: address comments
  .cspell.json
  apps/storefront/src/store/cross-tab-sync.ts
  apps/storefront/src/store/index.ts
Due: prettier --write, npx cspell lint

feat: url logic
  .lintstagedrc.json
  apps/storefront/src/constants/index.ts
Due: prettier --write, npx cspell lint

fix: improved deployment to staging (#188)
  .github/workflows/deploy-staging.yml
Due: none

fix: optimized allAddressFields dependency conditions
  apps/storefront/src/pages/Address/components/AddressForm.tsx
Due: npx cspell lint

fix: mobile version company hierarchy
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/CompanyTableRowCard.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/types.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

fix: cspell command
  .lintstagedrc.json
Due: prettier --write

fix: reverint lintstaged changes in storefront
  apps/storefront/.lintstagedrc.json
Due: prettier --write

feat: order detail display promotion discount (#187)
  .cspell.json
  apps/storefront/src/components/B3ProductList.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderShipping.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/types/products.ts
  apps/storefront/src/utils/b3Product/b3Product.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: modify spelling and show quick order price by setting
  apps/storefront/.eslintrc.json
  apps/storefront/src/components/filter/B3Filter.tsx
  apps/storefront/src/components/filter/B3FilterMore.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderB2BTable.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.tsx
  apps/storefront/src/pages/QuotesList/index.tsx
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/pages/UserManagement/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/config.ts
  apps/storefront/src/utils/b3Price.ts
  apps/storefront/src/utils/index.ts
  apps/storefront/tests/components/quickOrder/QuickOrder.test.tsx
Due: prettier --write, npx cspell lint

fix: optimize the login page type and modify the verification of cspell
  apps/storefront/src/App.tsx
  apps/storefront/src/components/extraTip/GlobalDialog.tsx
  apps/storefront/src/components/index.ts
  apps/storefront/src/components/layout/B3AccountInfo.tsx
  apps/storefront/src/components/layout/B3RenderRouter.tsx
  apps/storefront/src/components/outSideComponents/B3HoverButton.tsx
  apps/storefront/src/components/outSideComponents/B3MasqueradeGlobalTip.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/hooks/dom/useOpenPDP.ts
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/pages/ForgotPassword/index.test.tsx
  apps/storefront/src/pages/ForgotPassword/index.tsx
  apps/storefront/src/pages/Login/config.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/shared/service/request/b3Fetch.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/types/login.ts
  apps/storefront/src/utils/b3AccountItem.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: guest user login displays an error message in checkout
  apps/storefront/src/pages/Login/index.tsx
Due: npx cspell lint

feat: add subsidiary action
  .github/workflows/deploy-staging-atx.yml
  package.json
Due: prettier --write

fix: guest user login displays an error message in checkout (#199)
  apps/storefront/src/App.tsx
  apps/storefront/src/components/extraTip/GlobalDialog.tsx
  apps/storefront/src/components/index.ts
  apps/storefront/src/components/layout/B3AccountInfo.tsx
  apps/storefront/src/components/layout/B3RenderRouter.tsx
  apps/storefront/src/components/outSideComponents/B3HoverButton.tsx
  apps/storefront/src/components/outSideComponents/B3MasqueradeGlobalTip.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/hooks/dom/useOpenPDP.ts
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/pages/ForgotPassword/index.test.tsx
  apps/storefront/src/pages/ForgotPassword/index.tsx
  apps/storefront/src/pages/Login/config.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/shared/service/request/b3Fetch.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/types/login.ts
  apps/storefront/src/utils/b3AccountItem.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: optimize b3CheckPermissions utils
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/UserManagement/UserItemCard.tsx
  apps/storefront/src/store/selectors.ts
  apps/storefront/src/utils/b3CheckPermissions/base.ts
  apps/storefront/src/utils/b3CheckPermissions/check.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
  apps/storefront/src/utils/b3RolePermissions/juniorRolePermissions.ts
  apps/storefront/src/utils/index.ts
Due: npx cspell lint

fix: b3RolePermissions and b3CheckPermissions are merged into one utils
  apps/storefront/src/hooks/dom/useDomHooks.ts
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/UserManagement/UserItemCard.tsx
  apps/storefront/src/pages/UserManagement/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/store/selectors.ts
  apps/storefront/src/utils/b3CheckPermissions/b3PermissionsList.ts
  apps/storefront/src/utils/b3CheckPermissions/base.ts
  apps/storefront/src/utils/b3CheckPermissions/config.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
  apps/storefront/src/utils/b3CheckPermissions/juniorRolePermissions.ts
  apps/storefront/src/utils/b3RolePermissions/b2bGotoRoute.ts
  apps/storefront/src/utils/b3RolePermissions/config.ts
  apps/storefront/src/utils/b3RolePermissions/index.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
  apps/storefront/src/utils/index.ts
Due: npx cspell lint

fix: optimize the b3CheckPermissions utils and remove the use of the getB2BPermission method
  apps/storefront/src/App.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/utils/b3CheckPermissions/b2bPermissionPath.ts
  apps/storefront/src/utils/b3CheckPermissions/b3PermissionsList.ts
  apps/storefront/src/utils/b3CheckPermissions/base.ts
  apps/storefront/src/utils/b3CheckPermissions/check.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: use b2bPermissionsMap and import it separately
  apps/storefront/src/App.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailTable.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/pages/UserManagement/UserItemCard.tsx
  apps/storefront/src/pages/UserManagement/index.tsx
  apps/storefront/src/pages/quote/components/Message.tsx
  apps/storefront/src/pages/quote/components/QuoteNote.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/store/selectors.ts
  apps/storefront/src/utils/b3CheckPermissions/base.ts
  apps/storefront/src/utils/b3CheckPermissions/config.ts
Due: npx cspell lint

fix: modify spelling and show quick order price by setting (#196)
  apps/storefront/.eslintrc.json
  apps/storefront/src/components/filter/B3Filter.tsx
  apps/storefront/src/components/filter/B3FilterMore.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderB2BTable.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.tsx
  apps/storefront/src/pages/QuotesList/index.tsx
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/pages/UserManagement/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/config.ts
  apps/storefront/src/utils/b3Price.ts
  apps/storefront/src/utils/index.ts
  apps/storefront/tests/components/quickOrder/QuickOrder.test.tsx
Due: prettier --write, npx cspell lint

fix: dual browser login makes the former log out normally
  .cspell.json
  apps/storefront/src/hooks/dom/useRegisteredbctob2b.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/shared/service/bc/graphql/user.ts
  apps/storefront/src/utils/b2bVerifyBcLoginStatus.ts
  apps/storefront/src/utils/b3logout.ts
Due: prettier --write, npx cspell lint

feat: add permission hooks and merge shoppingList permission methods
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/hooks/index.ts
  apps/storefront/src/hooks/useVerifyPermission.ts
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/utils/b2bShoppingListCheckPermissions/index.ts
  apps/storefront/src/utils/b3CheckPermissions/base.ts
  apps/storefront/src/utils/b3CheckPermissions/check.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
Due: npx cspell lint

fix: dual browser login makes the former log out normally (#200)
  .cspell.json
  apps/storefront/src/hooks/dom/useRegisteredbctob2b.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/shared/service/bc/graphql/user.ts
  apps/storefront/src/utils/b2bVerifyBcLoginStatus.ts
  apps/storefront/src/utils/b3logout.ts
Due: prettier --write, npx cspell lint

fix: add separate address permissions
  apps/storefront/src/hooks/useVerifyPermission.ts
  apps/storefront/src/pages/Address/components/AddressItemCard.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
Due: npx cspell lint

fix: add separate userManagement permissions
  apps/storefront/src/pages/UserManagement/UserItemCard.tsx
Due: npx cspell lint

fix: quoteExtraFieldsConfig graphql add channelId
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
Due: npx cspell lint

feat: quote add extra fields (#153)
  apps/storefront/src/components/B3CustomForm.tsx
  apps/storefront/src/components/form/B2BControlMultiTextField.tsx
  apps/storefront/src/components/form/index.ts
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/quote/components/ContactInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailHeader.tsx
  apps/storefront/src/pages/quote/components/QuoteInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteInfoAndExtrafieldsItem.tsx
  apps/storefront/src/pages/quote/utils/getQuoteExtraFields.ts
  apps/storefront/src/shared/service/b2b/api/global.ts
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/store/slices/quoteInfo.ts
  apps/storefront/src/types/quotes.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: hotfix create quote add cc email
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/store/slices/quoteInfo.ts
Due: npx cspell lint

fix: hotfix create quote add cc email (#201)
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/store/slices/quoteInfo.ts
Due: npx cspell lint

fix: importNode does not work for script tags
  apps/storefront/src/utils/headlessInitializer.ts
Due: npx cspell lint

fix: use crossOrigin instead of crossorigin
  apps/storefront/src/utils/headlessInitializer.ts
  apps/storefront/tests/headless.test.ts
Due: npx cspell lint

fix: use attribute iterator instead
  apps/storefront/src/utils/headlessInitializer.ts
  apps/storefront/tests/headless.test.ts
Due: npx cspell lint

fix: reference window.B3 via function instead of global values
  apps/storefront/src/shared/service/b2b/api/translation.ts
  apps/storefront/src/shared/service/request/b3Fetch.ts
  apps/storefront/src/shared/service/request/base.ts
  apps/storefront/src/utils/b2bVerifyBcLoginStatus.ts
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint
