Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

refactor(shopping-lists): B2BCAT-50 remove unused duplicateBcShoppingList from shoppingLists service
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
  apps/storefront/src/shared/service/b2b/index.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 fix graphql types within duplicateB2CShoppingList
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/duplicateB2CShoppingList.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 add missing update b2b shopping list test
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 copy updateB2BShoppingList into ShoppingLists from b2b service
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/updateB2BShoppingListDetails.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 remove unused code from updateB2BShoppingList
  apps/storefront/src/pages/ShoppingLists/updateB2BShoppingListDetails.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 fix graphql types within updateB2BShoppingListDetails
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/updateB2BShoppingListDetails.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 add missing update b2c shopping list test
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 copy updateB2CShoppingListDetails into ShoppingLists from b2b service
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/updateB2CShoppingListDetails.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 remove unused code from updateB2CShoppingListDetails
  apps/storefront/src/pages/ShoppingLists/updateB2CShoppingListDetails.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 fix graphql types within updateB2CShoppingListDetails
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/updateB2CShoppingListDetails.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 revert unneeded query name change within shoppingList
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
Due: npx cspell lint

fix(quotes): B2B-2850 Prevent quote creation when already submitting
  apps/storefront/src/pages/QuoteDraft/index.tsx
Due: npx cspell lint

feat(common): B2B-3029 using microapps cdn in staging env
  apps/storefront/src/main.ts
Due: npx cspell lint

feat(catalyst): B2B-2626 mobile position fix
  apps/storefront/src/components/B3Tip.tsx
Due: npx cspell lint

feat(common): B2B-3031 using microapps cdn for tier 1
  config/deploy/after.sh
  deployment/production-tier1.json
Due: prettier --write

feat(common): B2B-3031 using store hash as variable
  config/deploy/after.sh
Due: none

feat(common): B2B-3031 setting store hashes in object
  config/deploy/after.sh
Due: none

fix(common): B2B-3031 fix after.sh script
  config/deploy/after.sh
Due: none

refactor(shopping-lists): B2BCAT-50 remove unused code from deleteB2CShoppingList
  apps/storefront/src/pages/ShoppingLists/deleteB2CShoppingList.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 rename deleteBcShoppingList to deleteB2CShoppingList
  apps/storefront/src/pages/ShoppingLists/deleteB2CShoppingList.ts
  apps/storefront/src/pages/ShoppingLists/index.tsx
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 fix graphql types within deleteB2CShoppingList
  apps/storefront/src/pages/ShoppingLists/deleteB2CShoppingList.ts
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 remove unused deleteBcShoppingList from shoppingLists service
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
  apps/storefront/src/shared/service/b2b/index.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 copy deleteBcShoppingList into ShoppingLists from b2b service
  apps/storefront/src/pages/ShoppingLists/deleteB2CShoppingList.ts
  apps/storefront/src/pages/ShoppingLists/index.tsx
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 add missing delete b2c shopping list test
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
Due: npx cspell lint

chore(common): B2BCAT-54 set up merged graph poc
  .gitignore
  rfc/graphql-schema/.env-example
  rfc/graphql-schema/.nvmrc
  rfc/graphql-schema/b2bGraphExtensions/index.ts
  rfc/graphql-schema/mesh.config.ts
  rfc/graphql-schema/package.json
  rfc/graphql-schema/yarn.lock
Due: prettier --write, npx cspell lint

refactor(shopping-lists): B2BCAT-50 remove unused code from createB2BShoppingList
  apps/storefront/src/pages/ShoppingLists/createB2BShoppingList.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 add missing add b2b shopping list test
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 fix graphql types within createB2BShoppingList
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/createB2BShoppingList.ts
Due: npx cspell lint

refactor(shopping-lists): B2BCAT-50 copy createB2BShoppingList into ShoppingLists from b2b service
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/createB2BShoppingList.ts
Due: npx cspell lint

feat(quick-order): B2B-2960 enable quick order for users representing child companies based on buyer permission
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/store/slices/company.ts
  apps/storefront/tests/shared/routeList.test.ts
  apps/storefront/tests/storeStateBuilders/companyStateBuilder.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
