Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

fix: add lintstaged spell check
  .cspell.json
  .lintstagedrc.json
Due: prettier --write

fix: remove b3b
  .cspell.json
  .lintstagedrc.json
  apps/storefront/src/constants/index.ts
Due: prettier --write, npx cspell lint

fix: enable cspell inside apps/storefront
  .cspell.json
  apps/storefront/.env-example
  apps/storefront/.lintstagedrc.json
  apps/storefront/src/pages/UserManagement/AddEditUser.tsx
  apps/storefront/src/shared/service/b2b/graphql/users.ts
  apps/storefront/src/shared/service/request/base.ts
  apps/storefront/src/store/selectors.ts
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3RolePermissions/b3PermissionsList.ts
  apps/storefront/src/utils/b3RolePermissions/config.ts
  apps/storefront/src/utils/loginInfo.ts
Due: prettier --write, npx cspell lint

fix: default to local environment instead of Production
  apps/storefront/src/shared/service/request/base.ts
Due: npx cspell lint

fix: company Hierarchy permission optimization
  apps/storefront/src/components/B3Dialog.tsx
  apps/storefront/src/components/B3DropDown.tsx
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3Company.ts
  apps/storefront/src/utils/b3RolePermissions/config.ts
Due: npx cspell lint

fix: optimize permissions and add custom roles
  apps/storefront/src/App.tsx
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3AccountItem.ts
  apps/storefront/src/utils/b3RolePermissions/b2bGotoRoute.ts
  apps/storefront/src/utils/b3RolePermissions/index.ts
  apps/storefront/src/utils/index.ts
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint

feat: add company Hierarchy
  apps/storefront/src/components/B3DropDown.tsx
  apps/storefront/src/components/layout/B3AccountInfo.tsx
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/layout/B3Mainheader.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3Company.ts
  apps/storefront/src/utils/index.ts
Due: npx cspell lint

feat: add company hierarchy extranal button
  apps/storefront/src/App.tsx
  apps/storefront/src/components/B3Dialog.tsx
  apps/storefront/src/components/index.ts
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/utils/loginInfo.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat: get the CompanySubsidiaries interface
  apps/storefront/src/components/B3DropDown.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/global.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/utils/loginInfo.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat: display the"Switch Company" Panel on Buyer Portal
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/outSideComponents/utils/b3CustomStyles.ts
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/shared/customStyleButton/context/config.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

fix: add constans z-index
  apps/storefront/src/components/B3StoreContainer.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/main.css
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

fix: b2b-1660 bugs
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

fix: b2b-1567 bugs
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/layout/B3Mainheader.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/outSideComponents/B3MasquradeGobalTip.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/utils/loginInfo.ts
  apps/storefront/src/utils/masquerade.ts
Due: npx cspell lint

fix: modifying superAdmin role definition
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/types/company.ts
Due: npx cspell lint

fix: add a method to determine the Level Permission
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

fix: remove superadmin company hierarchy and add subsidiariesCompany permission
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/outSideComponents/B3MasquradeGobalTip.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/global.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
  apps/storefront/src/utils/loginInfo.ts
  apps/storefront/src/utils/masquerade.ts
Due: npx cspell lint

fix: superadmin remove Company hierarchy
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

feat: invocie aggregated view b2b-1566
  apps/storefront/src/components/filter/B3Filter.tsx
  apps/storefront/src/components/filter/B3FilterMore.tsx
  apps/storefront/src/components/index.ts
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/pages/Invoice/InvoiceItemCard.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/invoice.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/types/invoice.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: optimizing the code
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

feat: order and detail aggregated view b2b-1566-1564
  apps/storefront/src/components/filter/B3Filter.tsx
  apps/storefront/src/components/index.ts
  apps/storefront/src/components/ui/B2BSwitchCompanyModal.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/context/OrderDetailsContext.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/config.ts
  apps/storefront/src/shared/service/b2b/graphql/orders.ts
  apps/storefront/src/types/index.ts
  apps/storefront/src/types/orderDetail.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: component Optimization
  apps/storefront/src/components/filter/B3FilterMore.tsx
  apps/storefront/src/components/form/B3ControlAutocomplete.tsx
  apps/storefront/src/pages/UserManagement/index.tsx
Due: npx cspell lint

fix: order detail SL btn
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
Due: npx cspell lint

fix: order and invocie fix bugs
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/components/ui/B2BSwitchCompanyModal.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/context/OrderDetailsContext.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

fix: log in again to terminate the company hierarchy agent
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint

fix: super admin invocie action b2b-1659
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

feat: add Settings in Django Admin to Control Account Hierarchy
  apps/storefront/src/components/layout/B3Mainheader.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/shared/service/b2b/graphql/global.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/types/global.ts
  apps/storefront/src/utils/loginInfo.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

fix: submit quote info
  apps/storefront/src/pages/QuoteDraft/index.tsx
Due: npx cspell lint

fix: quote extra fields fix bugs
  apps/storefront/src/pages/quote/components/ContactInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteInfoAndExtrafieldsItem.tsx
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
Due: npx cspell lint

fix: optimize and fix bugs
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/quote/components/ContactInfo.tsx
  apps/storefront/src/pages/quote/utils/getQuoteExtraFields.ts
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
  apps/storefront/src/types/quotes.ts
Due: npx cspell lint

feat: quote add extra fields
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/quote/components/ContactInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailHeader.tsx
  apps/storefront/src/pages/quote/components/QuoteInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteInfoAndExtrafieldsItem.tsx
  apps/storefront/src/pages/quote/utils/getQuoteExtraFields.ts
  apps/storefront/src/shared/service/b2b/api/global.ts
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/store/slices/quoteInfo.ts
  apps/storefront/src/types/quotes.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat: quote add cc email
  apps/storefront/src/components/B3CustomForm.tsx
  apps/storefront/src/components/form/B2BControlMultiTextField.tsx
  apps/storefront/src/components/form/index.ts
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/quote/components/ContactInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteInfoAndExtrafieldsItem.tsx
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
  apps/storefront/src/store/slices/quoteInfo.ts
  apps/storefront/src/types/quotes.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: company Hierarchy permission optimization
  .cspell.json
  apps/storefront/src/components/B3Dialog.tsx
  apps/storefront/src/components/B3DropDown.tsx
  apps/storefront/src/components/B3StoreContainer.tsx
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3Company.ts
  apps/storefront/src/utils/b3RolePermissions/config.ts
Due: prettier --write, npx cspell lint

fix: translation for account hierarchy b2b-1758
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
Due: npx cspell lint

fix: ui change orderDetail change tips b2b-1808
  packages/lang/locales/en.json
Due: prettier --write

feat: adding secret scanning
  .circleci/config.yml
Due: none

fix: no address permission,Contact information is not displayed
  apps/storefront/src/pages/QuoteDraft/index.tsx
Due: npx cspell lint

fix: validate errors inside getCurrentCustomerJWT
  apps/storefront/src/shared/service/bc/api/login.ts
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint

Path conditions:
  prettier --write: any of: *.json
  npx cspell lint: any of: *.{js,jsx,ts,tsx}
