Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

feat(catalyst): B2B-2626 handle tip link refactor
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/shared/dynamicallyVariable/context/config.ts
  apps/storefront/src/utils/b3Tip.ts
Due: npx cspell lint

feat(catalyst): B2B-2626 addToQuote
  apps/storefront/src/components/B3Tip.tsx
  apps/storefront/src/components/HeadlessController/index.tsx
  apps/storefront/src/hooks/dom/useCartToQuote.ts
  apps/storefront/src/hooks/dom/utils.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat(catalyst): B2B-2626 lint fix
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/utils/b3Tip.ts
Due: npx cspell lint

feat(catalyst): B2B-2626 global handler plus types
  apps/storefront/src/components/B3Tip.tsx
  apps/storefront/src/components/TipBody.tsx
  apps/storefront/src/index.d.ts
  apps/storefront/src/shared/dynamicallyVariable/context/config.ts
  apps/storefront/src/utils/b3Tip.ts
Due: npx cspell lint

feat(catalyst): B2B-2626 handle description case
  apps/storefront/src/components/B3Tip.tsx
  apps/storefront/src/components/TipBody.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/shared/dynamicallyVariable/context/config.ts
  apps/storefront/src/utils/b3Tip.ts
Due: npx cspell lint

fix(common): ENGP-282 fix test coverage reporting
  .circleci/config.yml
Due: none

test(common): B2BCAT-13 Add vistest-location-mock to prevent test errors while navigating
  apps/storefront/package.json
  apps/storefront/src/pages/ForgotPassword/index.test.tsx
  apps/storefront/src/pages/ForgotPassword/index.tsx
  apps/storefront/tests/headless.test.ts
  apps/storefront/tests/setup-test-environment.ts
  yarn.lock
Due: prettier --write, npx cspell lint

test(invoices): B2BCAT-13 Add test harness for InvoicesList
  apps/storefront/src/pages/Invoice/InvoiceItemCard.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/Invoice/components/InvoiceStatus.tsx
  apps/storefront/src/pages/Invoice/components/triggerPdfDownload.tsx
  apps/storefront/src/pages/Invoice/index.mobile.test.tsx
  apps/storefront/src/pages/Invoice/index.test.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/Invoice/utils/payment.ts
  apps/storefront/src/pages/Invoice/utils/pdf.ts
  apps/storefront/src/shared/service/b2b/graphql/invoice.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

test(invoice-payment): B2BCAT-14 Add test harness for InvoicePayment
  apps/storefront/src/pages/InvoicePayment/index.test.tsx
  apps/storefront/src/pages/InvoicePayment/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/invoice.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

test(common): B2BCAT-21 Update failOnConsole to silence threshold warnings
  apps/storefront/tests/setup-test-environment.ts
Due: npx cspell lint

test(company-orders): B2BCAT-12 Refine data types for test harness
  apps/storefront/src/pages/CompanyOrderList/index.mobile.test.tsx
  apps/storefront/src/pages/CompanyOrderList/index.test.tsx
Due: npx cspell lint

test(company-orders): B2BCAT-39 Simplify MyOrders data types
  apps/storefront/src/pages/MyOrders/index.mobile.test.tsx
  apps/storefront/src/pages/MyOrders/index.test.tsx
  apps/storefront/src/pages/order/orders.ts
  apps/storefront/src/types/order.ts
Due: npx cspell lint

fix(headless): B2B-2626 add missing b3Lang fn
  apps/storefront/src/hooks/dom/utils.ts
Due: npx cspell lint

fix(headless): B2B-2626 improving add to quote types
  apps/storefront/src/hooks/dom/utils.ts
Due: npx cspell lint

test(invoices): B2BCAT-13 Add test harness for InvoicesList
  apps/storefront/src/pages/Invoice/InvoiceItemCard.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/Invoice/components/InvoiceStatus.tsx
  apps/storefront/src/pages/Invoice/components/triggerPdfDownload.tsx
  apps/storefront/src/pages/Invoice/index.mobile.test.tsx
  apps/storefront/src/pages/Invoice/index.test.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/Invoice/utils/payment.ts
  apps/storefront/src/pages/Invoice/utils/pdf.ts
  apps/storefront/src/shared/service/b2b/graphql/invoice.ts
  apps/storefront/src/utils/b3CheckPermissions/check.ts
  commit-validation.json
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat(account): B2BCAT-30 add B2B upgrade banner for catalyst
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat(account): B2BCAT-30 fixing lint
  apps/storefront/src/pages/AccountSetting/index.tsx
Due: npx cspell lint

feat(account): B2BCAT-30 logging errors
  apps/storefront/src/pages/AccountSetting/index.test.tsx
Due: npx cspell lint

feat(account): B2BCAT-30 add graphql query for account settings
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/accountSetting.ts
Due: npx cspell lint

feat(account): B2BCAT-30 lint fix
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
Due: npx cspell lint

feat(account): B2BCAT-30 add graphql query response
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/register.ts
Due: npx cspell lint

feat(account): B2BCAT-30 removing lint error
  apps/storefront/src/pages/AccountSetting/index.test.tsx
Due: npx cspell lint

feat(account): B2BCAT-30 changes according to review
  apps/storefront/src/pages/AccountSetting/UpgradeBanner.tsx
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
Due: npx cspell lint

feat(account): B2BCAT-30 gql query pattern
  apps/storefront/src/pages/AccountSetting/UpgradeBanner.tsx
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/accountSetting.ts
Due: npx cspell lint

feat(account): B2BCAT-30 test sync
  apps/storefront/src/pages/AccountSetting/index.test.tsx
Due: npx cspell lint

feat(account): B2BCAT-30 dropping isB2BUser for this feature
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/accountSetting.ts
Due: npx cspell lint

feat(account): B2BCAT-30 adding logs for ci error
  apps/storefront/src/pages/AccountSetting/index.test.tsx
Due: npx cspell lint

feat(account): B2BCAT-30 fixing test selectors
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
Due: npx cspell lint

docs(addresses): B2BCAT-5 Rename addressType to type to avoid collisions
  rfc/graphql-schema/additionalTypeDefs/byPage/addresses.ts
Due: npx cspell lint

test(quotes): B2BCAT-20 Add test harness for QuoteDraft
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/quote/components/QuoteInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteInfoAndExtrafieldsItem.tsx
  apps/storefront/src/pages/quote/components/QuoteSummary.tsx
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
  apps/storefront/src/shared/service/b2b/graphql/register.ts
Due: npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
