Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

chore(common): B2BCAT-4 Remove unnecessary dependencies from rfc/graphql-schema
  graphql.config.ts
  rfc/graphql-schema/package.json
  rfc/graphql-schema/yarn.lock
Due: prettier --write, npx cspell lint

test(common): B2BCAT-00000 Store test results in CircleCI
  .circleci/config.yml
  apps/storefront/vite.config.ts
Due: npx cspell lint

chore(common): CATALYST-1444 move global-b3 over into apps/storefront
  apps/storefront/package.json
  apps/storefront/src/HeadlessController/index.tsx
  apps/storefront/src/hooks/dom/useCartToQuote.ts
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/useOpenPDP.ts
  apps/storefront/src/hooks/dom/useRegisteredbctob2b.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/hooks/useB3AppOpen.ts
  apps/storefront/src/lib/config/index.ts
  apps/storefront/src/load-functions.ts
  apps/storefront/src/pages/PDP/index.tsx
  apps/storefront/src/utils/b3HideRegister.ts
  apps/storefront/src/utils/b3HideStorefrontElement.ts
  packages/global-b3/.eslintrc.json
  packages/global-b3/.lintstagedrc.json
  packages/global-b3/index.d.ts
  packages/global-b3/package.json
  packages/global-b3/tsconfig.json
Due: prettier --write, npx cspell lint

docs(orders): B2BCAT-67 Add required fields for OrderDetails
  rfc/graphql-schema/additionalTypeDefs/byPage/invoices.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/orders.ts
Due: npx cspell lint

chore(common): B2BCAT-90 Remove c8 (not used)
  apps/storefront/package.json
  yarn.lock
Due: prettier --write

Revert "fix(account): B2B-2146 Change data to customer to fix rebase issue"
  apps/storefront/src/pages/Registered/index.tsx
Due: npx cspell lint

fix(headless): B2B-3440 callback registered fix
  apps/storefront/src/pages/Registered/index.tsx
Due: npx cspell lint

chore(common): CATALYST-1444 inline tsconfig over into apps/storefront
  apps/storefront/package.json
  apps/storefront/tsconfig.json
  packages/tsconfig/.lintstagedrc.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/tsconfig/vite.json
Due: prettier --write, npx cspell lint

chore(common): CATALYST-1444 move over to utilizing @bigcommerce/eslint-config for every package
  .gitignore
  .vscode/settings.example.json
  apps/storefront/.eslintrc.json
  apps/storefront/package.json
  apps/storefront/src/components/captcha/Captcha.tsx
  apps/storefront/src/store/.eslintrc.json
  apps/storefront/src/utils/b3Logger.ts
  apps/storefront/tests/assertQueryParams.tsx
  package.json
  packages/eslint-config-b2b/.eslintrc.js
  packages/eslint-config-b2b/.lintstagedrc.json
  packages/eslint-config-b2b/package.json
  packages/eslint-config-bc/.eslintrc.js
  packages/eslint-config-bc/.lintstagedrc.json
  packages/eslint-config-bc/package.json
  yarn.lock
Due: prettier --write, npx cspell lint

chore(common): CATALYST-1444 ignore eslint --fix for git blame
  .git-blame-ignore-revs
Due: none

chore(common): B2BCAT-91 Remove react-pdf (not used)
  apps/storefront/package.json
  apps/storefront/vite.config.ts
  yarn.lock
Due: prettier --write, npx cspell lint

fix(invoices): B2B-3294 Added translations for Invoice statuses
  apps/storefront/src/pages/Invoice/components/InvoiceStatus.tsx
Due: npx cspell lint

docs(shopping-lists): B2BCAT-89 Add ShoppingListDetails schema
  rfc/graphql-schema/additionalTypeDefs/byPage/orders.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingListDetails.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingLists.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

docs(common): B2BCAT-89 Reshuffle some of the nodes in the GQL schema
  rfc/graphql-schema/additionalTypeDefs/byPage/companyHierarchy.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/dashboard.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/invoices.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingListDetails.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/userManagement.ts
Due: npx cspell lint

fix(account): B2B-3453 include captcha key in register
  apps/storefront/src/pages/Registered/RegisterComplete.tsx
  apps/storefront/src/shared/service/b2b/graphql/register.ts
Due: npx cspell lint

feat(quick-order): B2BCAT-68 quickorder schema
  rfc/graphql-schema/additionalTypeDefs/byPage/quickOrder.ts
Due: npx cspell lint

feat(quick-order): B2BCAT-68 quickorder schema
  rfc/graphql-schema/additionalTypeDefs/byPage/quickOrder.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

docs(invoices): B2BCAT-70 Add schemas for Quotes (listing)
  rfc/graphql-schema/additionalTypeDefs/byPage/quotes.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

docs(invoices): B2BCAT-70 reshuffling query to domains
  rfc/graphql-schema/additionalTypeDefs/byPage/quotes.ts
Due: npx cspell lint

docs(quotes): B2BCAT-69 removing arg from node mutation
  rfc/graphql-schema/additionalTypeDefs/byPage/quoteDetails.ts
Due: npx cspell lint

docs(quotes): B2BCAT-70 Add schemas for QuoteDetails
  rfc/graphql-schema/additionalTypeDefs/byPage/quoteDetails.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

docs(shopping-lists): B2BCAT-64 add to shopping list draft schema
  rfc/graphql-schema/additionalTypeDefs/byPage/addToShoppingList.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

docs(quotes): B2BCAT-66 add missing fields to schema draft
  rfc/graphql-schema/additionalTypeDefs/byPage/draftQuote.ts
Due: npx cspell lint

docs(quotes): B2BCAT-66 Add schemas for Draft Quote
  rfc/graphql-schema/additionalTypeDefs/byPage/draftQuote.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

docs(quotes): B2BCAT-66 replace for CartSelectedOptions
  rfc/graphql-schema/additionalTypeDefs/byPage/draftQuote.ts
Due: npx cspell lint

docs(quotes): B2BCAT-66 add create quote mutation
  rfc/graphql-schema/additionalTypeDefs/byPage/draftQuote.ts
Due: npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
