Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

fix(quick-order): B2B-4050 Clear QuickAdd inputs correctly when the case does not match
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/QuickAdd.tsx
Due: npx cspell lint

fix(quick-order): B2B-4050 Handle validation errors correctly, invalidate input fields
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.validation.ts
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuickOrder/index.quickadd.backend.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/utils/validateProducts.ts
Due: prettier --write, npx cspell lint

chore(orders): BUN-1546 Buyer portal account pending message
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/utils/companyUtils.ts
Due: prettier --write, npx cspell lint

chore(common): B2B-3698 update API URL in env-example to reflect local setup
  apps/storefront/.env-example
Due: none

fix(quick-order): B2B-3978 filtering out stock error skus
  apps/storefront/src/components/upload/B3Upload.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/pages/QuickOrder/components/ValidProduct.ts
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: prettier --write, npx cspell lint

fix(quick-order): B2B-3978 filtering out stock error skus (#660)
  apps/storefront/src/components/upload/B3Upload.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/pages/QuickOrder/components/ValidProduct.ts
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: prettier --write, npx cspell lint

fix(quick-order): B2B-4014 add error code support and group error mesage (#665)
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/utils/validateProducts.ts
Due: npx cspell lint

chore(b2b): B2B-3698 update API URL in env-example to reflect local setup (#674)
  apps/storefront/.env-example
Due: none

fix(orders): B2B-3942 preserve input shape in validateProducts (#663)
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/utils/validateProducts.test.ts
  apps/storefront/src/utils/validateProducts.ts
Due: npx cspell lint

test(quick-order): B2B-4014 Added error code to the validateProducts API to simplify the error flow in backorder
  apps/storefront/src/utils/validateProducts.test.ts
Due: npx cspell lint

test(quick-order): B2B-4014 Added error code to the validateProducts API to simplify the error flow in backorder (#675)
  apps/storefront/src/utils/validateProducts.test.ts
Due: npx cspell lint

feat(orders): B2B-3942 Prepare to implement BE validation
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
Due: npx cspell lint

fix(quick-order): B2B-3978 Fix ValidateProducts type
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

fix(quotes): B2B-4052 Expand 3 rows instead of 1 row
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/QuickAdd.tsx
  apps/storefront/src/pages/quote/components/AddToQuote.tsx
Due: npx cspell lint

refactor(quotes): B2B-4082 introduce wrapper function for validateProducts in quote detail page
  apps/storefront/src/pages/QuoteDetail/index.tsx
Due: npx cspell lint

fix(quotes): B2B-4082 fixed quote product validation for required modifers
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/quote/shared/config.ts
Due: npx cspell lint

test(quotes): B2B-4082 test improvement on quote detail page
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
Due: npx cspell lint

test(quotes): B2B-4082 test improvement on quote detail page for replacing toBeInTheDocument with toBeVisible
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
Due: npx cspell lint

fix(quotes): B2B-4052 Expand 3 rows instead of 1 row (#684)
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/QuickAdd.tsx
  apps/storefront/src/pages/quote/components/AddToQuote.tsx
Due: npx cspell lint

docs(common): B2B-4020 Add a first iteration of an AGENTS.md file
  AGENTS.md
Due: npx cspell lint

feat(orders): B2B-3942 Implement BE validation for re-ordering products
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/utils/validateProducts.ts
Due: prettier --write, npx cspell lint

fix(quick-order): B2B-4050 Improve SKU not found error messages for pluralization
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuickOrder/index.quickadd.test.tsx
Due: prettier --write, npx cspell lint

fix(quick-order): B2B-4050 Clear QuickAdd inputs correctly when the case does not match
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/QuickAdd.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.quickadd.test.tsx
Due: npx cspell lint

fix(quick-order): B2B-4050 Show inline validation errors for QuickOrder/QuickAdd
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.validation.ts
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/utils/validateProducts.test.ts
  apps/storefront/src/utils/validateProducts.ts
Due: prettier --write, npx cspell lint

refactor(shopping-lists): B2B-4066 Access feature flags directly + small refactors
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailTable.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
Due: npx cspell lint

refactor(shopping-lists): B2B-4066 Honour unlimitedBackorder when showing cart errors
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(quotes): B2B-4029 quote uuid added to session storage
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
  apps/storefront/src/utils/b3checkout.ts
Due: npx cspell lint

fix(quotes): B2B-4048 Moved Up Product Validation Api Call with product list to not display TBD after loading
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/tests/test-utils.tsx
Due: npx cspell lint
