Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

feat(shopping-lists): B2B-3321 fix unit test and rebase
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

fix(quotes): B2B-3325 Remove validation warning snackbar on PDP
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/hooks/dom/utils.ts
Due: npx cspell lint

fix(quotes): B2B-3415 Fixed the Custom shipping address not applied from quote email link
  apps/storefront/src/pages/QuoteDetail/index.tsx
Due: npx cspell lint

refactor(common): B2B-3492 Reformat .eslintrc.cjs to match JS files
  apps/storefront/.eslintrc.cjs
Due: none

refactor(common): B2B-3492 Remove eslint-config-b2b
  apps/storefront/.eslintrc.cjs
  apps/storefront/knip.jsonc
  apps/storefront/package.json
  apps/storefront/src/components/captcha/Captcha.tsx
  apps/storefront/src/components/form/ui.ts
  apps/storefront/src/utils/b3Logger.ts
  apps/storefront/tests/setup-test-environment.ts
  package.json
  packages/eslint-config-b2b/.eslintrc.js
  packages/eslint-config-b2b/.lintstagedrc.json
  packages/eslint-config-b2b/package.json
  yarn.lock
Due: prettier --write, npx cspell lint

refactor(common): FE-434 Remove @mui/material patch for `x-y of z`
  apps/storefront/src/components/table/B3Table.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/UserManagement/table/B3Table.tsx
  apps/storefront/src/pages/order/table/B3Table.tsx
  package.json
  patches/@mui+material+5.18.0.patch
  yarn.lock
Due: prettier --write, npx cspell lint

refactor(common): FE-434 Remove @mui/material patch for `x-y of z` (#508)
  apps/storefront/src/components/table/B3Table.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/UserManagement/table/B3Table.tsx
  apps/storefront/src/pages/order/table/B3Table.tsx
  package.json
  patches/@mui+material+5.18.0.patch
  yarn.lock
Due: prettier --write, npx cspell lint

feat(quotes): B2B-3325 Hide error messages in product table when backordering is enabled
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/quote/components/QuoteTable.tsx
Due: npx cspell lint

feat(quotes): B2B-3325 Hide error messages in product table when backordering is enabled (#531)
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/quote/components/QuoteTable.tsx
Due: npx cspell lint

feat(quotes): B2B-3509 Call validate product query in quick order and shopping lists
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/utils/storefrontConfig.ts
  apps/storefront/src/utils/validateProducts.ts
Due: npx cspell lint

feat(register): B2B-3501 Honour `?redirectTo=checkout` after registration
  apps/storefront/src/App.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  commit-validation.json
Due: prettier --write, npx cspell lint

feat(quotes): B2B-3509 Call validate product query in quick order and shopping lists (#541)
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/utils/storefrontConfig.ts
  apps/storefront/src/utils/validateProducts.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 add to cart to support backordering
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/shared/utils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 rename functions and variables
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/shared/utils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 simplify logic on re add cart backend validation
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 flag validations to include 'true' as a possible value
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 clean up unsused variables
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 removing console log
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 implement strategy pattern into cart validation
  apps/storefront/src/hooks/useInventoryValidation.ts
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 refactor to functional insetad of object oriented
  apps/storefront/src/hooks/useInventoryValidation.test.ts
  apps/storefront/src/hooks/useInventoryValidation.ts
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/utils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 separate functions into individual files
  apps/storefront/src/hooks/useInventoryValidation.test.ts
  apps/storefront/src/hooks/useInventoryValidation.ts
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/shared/utils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 renaming functions to give more context
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/utils/cartUtils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 work on suggestions
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 fix imports order
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
Due: npx cspell lint

feat(quick-order): B2B-3343 add to cart managed by backend on quickorder
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
Due: npx cspell lint

feat(quick-order): B2B-3343 refactor unit tests
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
Due: npx cspell lint

feat(quick-order): B2B-3343 refactor on unit tests
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
Due: npx cspell lint

feat(register): B2B-3501 Honour `?redirectTo=checkout` after registration (#542)
  apps/storefront/src/App.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  commit-validation.json
Due: prettier --write, npx cspell lint

feat(register): B2B-3501 Rename redirectTo=checkout to redirectTo=check-out
  apps/storefront/src/pages/Registered/index.tsx
Due: npx cspell lint

Revert "feat(register): B2B-3501 Honour `?redirectTo=checkout` after registra…"
  apps/storefront/src/App.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  commit-validation.json
Due: prettier --write, npx cspell lint

Revert "feat(register): B2B-3501 Honour `?redirectTo=checkout` after registration" (#544)
  apps/storefront/src/App.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  commit-validation.json
Due: prettier --write, npx cspell lint

fix(account): B2B-3390 Product and Pricing restriction for Pending B2B Company based on company settings
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/Login/index.test.tsx
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/Login/useLogout.tsx
  apps/storefront/src/pages/Registered/RegisterContent.tsx
  apps/storefront/src/pages/Registered/RegisteredFinish.tsx
  apps/storefront/src/pages/Registered/RegisteredStep.tsx
  apps/storefront/src/pages/Registered/index.test.tsx
  apps/storefront/src/pages/Registered/index.tsx
Due: prettier --write, npx cspell lint

feat(register): B2B-3501 Honour `?redirectTo=check-out after registration (second try)
  apps/storefront/src/App.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  commit-validation.json
Due: prettier --write, npx cspell lint

feat(shopping-lists): B2B-3321 add to cart to support backordering (#523)
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/utils/cartUtils.ts
Due: npx cspell lint

feat(quick-order): B2B-3343 fix rebase error and description ut
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
Due: npx cspell lint
