Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

fix: optimizing the code
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

fix: purchasability level permission bugs
  apps/storefront/src/utils/b3CheckPermissions/check.ts
  apps/storefront/src/utils/b3RolePermissions/juniorRolePermissions.ts
Due: npx cspell lint

fix: quotes level permission bugs
  apps/storefront/src/pages/QuoteDraft/index.tsx
Due: npx cspell lint

fix: ui change orderDetail change tips b2b-1808
  packages/lang/locales/en.json
Due: prettier --write

fix: order detail SL btn
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
Due: npx cspell lint

fix: translation for account hierarchy b2b-1758
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
Due: npx cspell lint

fix: superadmin remove Company hierarchy
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

fix: super admin invocie action b2b-1659
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

fix: log in again to terminate the company hierarchy agent
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint

fix: company Hierarchy bugs
  .cspell.json
  apps/storefront/src/components/layout/B2BMainHeader.tsx
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderBilling.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderShipping.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/address.ts
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3Company.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat: user management permission
  apps/storefront/src/components/table/B3PaginationTable.tsx
  apps/storefront/src/pages/UserManagement/UserItemCard.tsx
  apps/storefront/src/pages/UserManagement/config.ts
  apps/storefront/src/pages/UserManagement/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/users.ts
Due: npx cspell lint

feat: add address level permission and modify the files related to cspell
  .cspell.json
  apps/storefront/.eslintrc.json
  apps/storefront/src/components/filter/B3Filter.tsx
  apps/storefront/src/components/filter/B3FilterMore.tsx
  apps/storefront/src/pages/Address/components/AddressItemCard.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderB2BTable.tsx
  apps/storefront/src/pages/QuickOrder/index.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/QuotesList/index.tsx
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/pages/UserManagement/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/config.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
  apps/storefront/tests/components/quickOrder/QuickOrder.test.tsx
Due: prettier --write, npx cspell lint

fix: company Hierarchy permission optimization
  .cspell.json
  apps/storefront/src/components/B3Dialog.tsx
  apps/storefront/src/components/B3DropDown.tsx
  apps/storefront/src/components/B3StoreContainer.tsx
  apps/storefront/src/components/layout/B3CompanyHierarchy.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/store/slices/company.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/types/company.ts
  apps/storefront/src/utils/b3Company.ts
  apps/storefront/src/utils/b3RolePermissions/config.ts
Due: prettier --write, npx cspell lint

fix: no address permission,Contact information is not displayed
  apps/storefront/src/pages/QuoteDraft/index.tsx
Due: npx cspell lint

fix: order and invocie fix bugs
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/components/ui/B2BSwitchCompanyModal.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/context/OrderDetailsContext.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

feat: add quote and purchasability level permission and modify the files related to cspell
  .cspell.json
  apps/storefront/src/App.tsx
  apps/storefront/src/components/extraTip/GlobalDialog.tsx
  apps/storefront/src/components/index.ts
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/outSideComponents/B3HoverButton.tsx
  apps/storefront/src/components/outSideComponents/B3MasquradeGolbalTip.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/hooks/dom/useOpenPDP.ts
  apps/storefront/src/pages/Address/components/AddressItemCard.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/store/index.ts
  apps/storefront/src/store/selectors.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/b3Init.ts
Due: prettier --write, npx cspell lint

feat: add Settings in Django Admin to Control Account Hierarchy
  apps/storefront/src/components/layout/B3Mainheader.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/shared/service/b2b/graphql/global.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/types/global.ts
  apps/storefront/src/utils/loginInfo.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

fix: fix shoppingList permission bugs
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/utils/b2bShoppingListCheckPermissions/index.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
Due: npx cspell lint

fix: remove unused file
  apps/storefront/src/components/B3GlobalTip.tsx
  apps/storefront/src/shared/dynamicallyVariable/index.ts
  apps/storefront/src/utils/b3CheckPermissions/permission.ts
Due: npx cspell lint

fix: user and SL permission and component optimization
  apps/storefront/src/components/form/B3ControlAutocomplete.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
Due: npx cspell lint

fix: resolve hierarchyDialog bug
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
Due: npx cspell lint

feat: 1873 shoppingList permission
  .cspell.json
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/ShoppingLists/config.ts
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
  apps/storefront/src/utils/b3Product/shared/config.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
Due: prettier --write, npx cspell lint

fix: resolve eslint no-cycle issue in permissions utils
  apps/storefront/src/store/selectors.ts
  apps/storefront/src/utils/b3CheckPermissions/base.ts
  apps/storefront/src/utils/b3CheckPermissions/check.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: npx cspell lint

fix: modify the files related to cspell
  .cspell.json
  apps/storefront/src/App.tsx
  apps/storefront/src/components/B3GlobalTip.tsx
  apps/storefront/src/components/index.ts
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/components/layout/B3LayoutTip.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/layout/B3RenderRouter.tsx
  apps/storefront/src/components/outSideComponents/B3MasqueradeGlobalTip.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/hooks/dom/useOpenPDP.ts
  apps/storefront/src/hooks/useSetOpen.ts
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/shared/dynamicallyVariable/context/Provider.tsx
  apps/storefront/src/shared/dynamicallyVariable/context/config.ts
  apps/storefront/src/shared/dynamicallyVariable/context/index.ts
  apps/storefront/src/shared/dynamicallyVariable/index.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
Due: prettier --write, npx cspell lint

fix: resole permission bugs
  apps/storefront/src/components/table/B3PaginationTable.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

fix: deleting incorrect email fromd readme
  README.md
Due: npx cspell lint

fix: deleting incorrect email fromd readme (#185)
  README.md
Due: npx cspell lint

feat: adding secret scanning (#177)
  .circleci/config.yml
Due: none

feat: headless logout
  .cspell.json
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/index.d.ts
Due: prettier --write, npx cspell lint

fix: optimize company subsidiaries and permission code
  apps/storefront/src/components/B3Dialog.tsx
  apps/storefront/src/components/filter/B3Filter.tsx
  apps/storefront/src/components/form/B3ControlAutocomplete.tsx
  apps/storefront/src/components/ui/B2BSwitchCompanyModal.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
Due: npx cspell lint

fix: default to production environment and improve headless.ts logic (#181)
  apps/storefront/.env-example
  apps/storefront/src/headless.ts
  apps/storefront/src/shared/service/request/base.ts
  apps/storefront/src/utils/b3CurrencyFormat.ts
  apps/storefront/src/utils/basicConfig.ts
  apps/storefront/src/utils/headlessInitializer.ts
  apps/storefront/src/utils/loginInfo.ts
  apps/storefront/tests/headless.test.ts
  apps/storefront/tests/setup-test-environment.ts
  apps/storefront/vite.config.ts
  docs/headless.md
  docs/stencil.md
Due: npx cspell lint

fix: review comments adressed
  .cspell.json
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/index.d.ts
Due: prettier --write, npx cspell lint

fix: improved deployment to staging
  .github/workflows/deploy-staging.yml
Due: none

feat: headless logout (#186)
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/index.d.ts
Due: npx cspell lint

feat: catalyst redirect
  apps/storefront/src/components/layout/B3Mainheader.tsx
Due: npx cspell lint

fix: mobile version company hierarchy
  apps/storefront/src/components/outSideComponents/B3CompanyHierarchyExternalButton.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/CompanyTableRowCard.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/types.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

feat: get cart url util
  .cspell.json
  apps/storefront/src/components/layout/B3Mainheader.tsx
  apps/storefront/src/index.d.ts
  apps/storefront/src/utils/getCartUrl.ts
Due: prettier --write, npx cspell lint

fix: infra-18901 set cdn to point to microapps instead of the original b2b cdn
  apps/storefront/src/main.ts
Due: npx cspell lint

fix: infra-18901 set cdn to point to microapps instead of the original b2b cdn
  apps/storefront/src/main.ts
  apps/storefront/src/shared/service/request/base.ts
Due: npx cspell lint
