Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

fix(common): B2B-2669 Enable CORS in dev mode
  apps/storefront/vite.config.ts
Due: npx cspell lint

refactor(account): B2B-2158 add scenario definitions and props poc for account settings page
  apps/storefront/.dependency-cruiser.cjs
  apps/storefront/src/pages/specs/AccountSettings/Page.spec.txt
  apps/storefront/src/pages/specs/AccountSettings/Props.poc.ts
Due: npx cspell lint

fix: landing login location refactor
  apps/storefront/src/constants/index.ts
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/b3Login.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

fix: changes according to review
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/pages/Login/CatalystLogin.tsx
  apps/storefront/src/pages/Login/index.tsx
Due: npx cspell lint

fix: catalyst channel for login
  apps/storefront/src/shared/service/bc/api/login.ts
Due: npx cspell lint

fix: lint fixes
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/b3Login.ts
Due: npx cspell lint

feat: catalyst login page, registed callback, quote configs and add product sdk (#261)
  .git-blame-ignore-revs
  apps/storefront/src/App.tsx
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/hooks/dom/useCartToQuote.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/index.d.ts
  apps/storefront/src/pages/Login/CatalystLogin.tsx
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/shared/service/bc/graphql/cart.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/b3Login.ts
  apps/storefront/src/utils/loginInfo.ts
  apps/storefront/src/utils/storefrontConfig.ts
  packages/hooks/useB2BCallback.ts
Due: npx cspell lint

fix(common): FE-123 Here and there
  here
Due: none

fix(common): FE-123 Here and there part 2
  here
Due: none

fix(common): FE-123 Here and there part 2
  new
Due: none

feat(common): FE-123 Foo
  here-there
Due: none

feat(common): FE-123 Foo
  wooo
Due: none

refactor(common): poc of forgotten password page i1
  apps/storefront/package.json
  apps/storefront/src/components/B3Card.tsx
  apps/storefront/src/components/RegisteredCloseButton.tsx
  apps/storefront/src/next/routes/forgot-password/index.test.tsx
  apps/storefront/src/next/routes/forgot-password/index.tsx
  apps/storefront/src/next/sections/ForgotPassword/index.test.tsx
  apps/storefront/src/next/sections/ForgotPassword/index.tsx
  apps/storefront/src/next/withinModal.test.tsx
  apps/storefront/src/next/withinModal.tsx
  apps/storefront/src/shared/global/context/Provider.tsx
  apps/storefront/src/shared/global/context/config.ts
  apps/storefront/tests/test-utils.tsx
  yarn.lock
Due: prettier --write, npx cspell lint

refactor(common): poc of forgotten password page i1
  apps/storefront/src/components/B3Card.tsx
  apps/storefront/src/components/RegisteredCloseButton.tsx
  apps/storefront/src/next/pages/ForgotPassword/index.test.tsx
  apps/storefront/src/next/pages/ForgotPassword/index.tsx
  apps/storefront/src/next/pages/ForgotPassword/view/index.test.tsx
  apps/storefront/src/next/pages/ForgotPassword/view/index.tsx
  apps/storefront/src/next/withinModal.test.tsx
  apps/storefront/src/next/withinModal.tsx
  apps/storefront/src/shared/global/context/Provider.tsx
  apps/storefront/src/shared/global/context/config.ts
  apps/storefront/tests/test-utils.tsx
Due: npx cspell lint

refactor(common): poc of forgotten password page i2
  apps/storefront/package.json
  apps/storefront/src/next/pages/ForgotPassword/index.test.tsx
  apps/storefront/src/next/pages/ForgotPassword/index.tsx
  apps/storefront/src/next/pages/ForgotPassword/resetPassword.test.ts
  apps/storefront/src/next/pages/ForgotPassword/resetPassword.ts
  apps/storefront/src/next/pages/ForgotPassword/view/index.test.tsx
  apps/storefront/src/next/pages/ForgotPassword/view/index.tsx
  apps/storefront/src/next/pages/ForgotPassword/view/useForm.ts
  yarn.lock
Due: prettier --write, npx cspell lint

refactor(shopping-lists): B2B-2131 introduce enum for shopping list status and updated all hardcoded number to use the enum
  apps/storefront/src/pages/OrderDetail/components/OrderShoppingList.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingStatus.tsx
  apps/storefront/src/pages/ShoppingLists/config.ts
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

fix: catalyst native checkout
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
Due: npx cspell lint

chore(common): B2B-2710 Require testing and linting to pass before allowing to merge
  .circleci/config.yml
Due: none

chore(common): B2B-2710 Require testing and linting to pass before allowing to merge (#291)
  .circleci/config.yml
Due: none

refactor(shopping-lists): B2B-2131 fixed circular dependency issue
  apps/storefront/src/pages/OrderDetail/components/OrderShoppingList.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/AddEditShoppingLists.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingStatus.tsx
  apps/storefront/src/pages/ShoppingLists/config.ts
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/types/shoppingList.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
Due: npx cspell lint

fix(orders): B2B-2398 Show digital products in mixed orders
  apps/storefront/src/pages/OrderDetail/components/OrderBilling.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderShipping.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/types/orderDetail.ts
  commit-validation.json
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix(orders): B2B-2398 Show digital products in mixed orders (#289)
  apps/storefront/src/pages/OrderDetail/components/OrderBilling.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderShipping.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/types/orderDetail.ts
  commit-validation.json
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

fix: test
  apps/storefront/src/pages/Login/CatalystLogin.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailFooter.tsx
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
  apps/storefront/src/shared/service/bc/graphql/cart.ts
  apps/storefront/src/utils/cartUtils.ts
Due: npx cspell lint

fix: type fix
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
Due: npx cspell lint

fix: type fix2
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
Due: npx cspell lint

fix: type fix23
  apps/storefront/src/pages/QuoteDetail/index.tsx
Due: npx cspell lint

feat(catalyst): B2B-2562 quote checkout from catalyst route
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailFooter.tsx
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
  apps/storefront/src/types/cart.ts
  apps/storefront/src/utils/cartUtils.ts
Due: npx cspell lint

fix(catalyst): B2B-2562 lint fix
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
  apps/storefront/src/types/cart.ts
  apps/storefront/src/utils/cartUtils.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

fix(catalyst): headless case for quotes, invoice catalyst checkout
  apps/storefront/src/pages/Invoice/utils/payment.ts
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
Due: npx cspell lint

fix(shopping-lists): B2B-2131 fixed flaky test
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
Due: npx cspell lint

fix(shopping-lists): B2B-2131 correct the status code usage for shopping list
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/ShoppingLists/config.ts
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
Due: npx cspell lint

fix(shopping-lists): B2B-2131 introduced builders and added tests
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
  apps/storefront/src/shared/service/request/b3Fetch.ts
  apps/storefront/tests/builder.ts
  apps/storefront/tests/storeStateBuilders/companyStateBuilder.ts
  apps/storefront/tests/storeStateBuilders/index.ts
  apps/storefront/tests/test-utils.tsx
Due: npx cspell lint

fix(shopping-lists): B2B-2131 added comments to remind us to use faker for builder once faker is in place
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
  apps/storefront/tests/storeStateBuilders/companyStateBuilder.ts
Due: npx cspell lint

fix(shopping-lists): B2B-2131 use status rejected for handleUpdateShoppingList
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
Due: npx cspell lint

fix(shopping-lists): B2B-2131 rename ShoppingStatus to ShoppingListStatusTag
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListStatusTag.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
Due: npx cspell lint

fix(shopping-lists): B2B-2131 improve test description
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

fix(shopping-lists): B2B-2131 added more tests and refactor getDeletePermissions to shoppingListCanBeDeleted
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/ShoppingLists/index.test.tsx
Due: npx cspell lint
