Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

fix: headless.ts importNode to setAttribute & innerhtml (#202)
  apps/storefront/src/shared/service/b2b/api/translation.ts
  apps/storefront/src/shared/service/request/b3Fetch.ts
  apps/storefront/src/shared/service/request/base.ts
  apps/storefront/src/utils/b2bVerifyBcLoginStatus.ts
  apps/storefront/src/utils/headlessInitializer.ts
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint

fix: cart Clearing After Navigating Away from Invoice Checkout
  apps/storefront/src/utils/b3ClearCart.ts
Due: npx cspell lint

feat: catalyst redirect (#189)
  apps/storefront/src/components/layout/B3Mainheader.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/index.d.ts
Due: npx cspell lint

fix: if a B2BToken is already set up, skip verification
  apps/storefront/src/utils/b2bVerifyBcLoginStatus.ts
Due: npx cspell lint

feat: get allowed routes on headless controller
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/layout/B3RenderRouter.tsx
  apps/storefront/src/index.d.ts
  apps/storefront/src/shared/dynamicallyVariable/context/Provider.tsx
  apps/storefront/src/shared/dynamicallyVariable/context/config.ts
  apps/storefront/src/shared/dynamicallyVariable/context/index.ts
  apps/storefront/src/shared/dynamicallyVariable/index.ts
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/index.tsx
Due: npx cspell lint

fix: skipping validation for stencil
  apps/storefront/src/utils/b2bVerifyBcLoginStatus.ts
Due: npx cspell lint

fix: refactor out the component from getAllowedRoutes
  .cspell.json
  apps/storefront/src/components/B3GlobalTip.tsx
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/components/layout/B3LayoutTip.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/layout/B3RenderRouter.tsx
  apps/storefront/src/hooks/useSetOpen.ts
  apps/storefront/src/index.d.ts
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/index.tsx
Due: prettier --write, npx cspell lint

fix: also export isMenuItem for catalyst
  apps/storefront/src/shared/routeList.ts
Due: npx cspell lint

fix: the file location of B3MainHeader
  apps/storefront/src/components/layout/B3MainHeader.tsx
Due: npx cspell lint

fix: react types
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/index.tsx
Due: npx cspell lint

fix: if a B2BToken is already set up, skip verification (#203)
  apps/storefront/src/utils/b2bVerifyBcLoginStatus.ts
Due: npx cspell lint

fix: refactor out the component from getAllowedRoutes (#205)
  .cspell.json
  apps/storefront/src/components/B3GlobalTip.tsx
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/components/layout/B3LayoutTip.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/layout/B3RenderRouter.tsx
  apps/storefront/src/hooks/useSetOpen.ts
  apps/storefront/src/index.d.ts
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/index.tsx
Due: prettier --write, npx cspell lint

feat: get allowed routes on headless controller (#204)
  .cspell.json
  apps/storefront/src/components/B3GlobalTip.tsx
  apps/storefront/src/components/HeadlessController.tsx
  apps/storefront/src/components/layout/B3Layout.tsx
  apps/storefront/src/components/layout/B3LayoutTip.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/components/layout/B3RenderRouter.tsx
  apps/storefront/src/hooks/useSetOpen.ts
  apps/storefront/src/index.d.ts
  apps/storefront/src/shared/dynamicallyVariable/context/Provider.tsx
  apps/storefront/src/shared/dynamicallyVariable/context/config.ts
  apps/storefront/src/shared/dynamicallyVariable/context/index.ts
  apps/storefront/src/shared/dynamicallyVariable/index.ts
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/index.tsx
Due: prettier --write, npx cspell lint

fix: adding global state to the dependency array
  apps/storefront/src/components/HeadlessController.tsx
Due: npx cspell lint

fix: adding back eslint rule
  apps/storefront/src/components/HeadlessController.tsx
Due: npx cspell lint

fix: adding global state to the dependency array (#206)
  apps/storefront/src/components/HeadlessController.tsx
Due: npx cspell lint

feat: enabling usage of routes instead of keys for opening pages
  apps/storefront/src/components/HeadlessController.tsx
Due: npx cspell lint

feat: enable open page routes (#207)
  apps/storefront/src/components/HeadlessController.tsx
Due: npx cspell lint

fix: add matt's store to tier-1
  deployment/production-tier1.json
Due: prettier --write

fix: add util to sync data between tabs
  apps/storefront/src/store/cross-tab-sync.ts
  apps/storefront/src/store/index.ts
Due: npx cspell lint

fix: address comments
  .cspell.json
  apps/storefront/src/store/cross-tab-sync.ts
  apps/storefront/src/store/index.ts
Due: prettier --write, npx cspell lint

feat: add crossTabSync test case
  apps/storefront/tests/components/crossTabSync/crossTabSync.test.tsx
Due: npx cspell lint

fix: determine whether to remove the quote draft product and modify spelling
  apps/storefront/src/hooks/dom/useCartToQuote.ts
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint

fix: fix lint and resolving conflicts
  apps/storefront/src/utils/loginInfo.ts
Due: npx cspell lint

feat: companyHierarchy permission code separation and code optimization (#208)
  apps/storefront/src/App.tsx
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/hooks/dom/useDomHooks.ts
  apps/storefront/src/hooks/index.ts
  apps/storefront/src/hooks/useVerifyPermission.ts
  apps/storefront/src/pages/Address/components/AddressItemCard.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/Invoice/components/B3Pulldown.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailHeader.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailTable.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/pages/ShoppingLists/ShoppingListsCard.tsx
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/pages/UserManagement/UserItemCard.tsx
  apps/storefront/src/pages/UserManagement/index.tsx
  apps/storefront/src/pages/quote/components/Message.tsx
  apps/storefront/src/pages/quote/components/QuoteNote.tsx
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/shared/routes/index.tsx
  apps/storefront/src/store/selectors.ts
  apps/storefront/src/utils/b2bShoppingListCheckPermissions/index.ts
  apps/storefront/src/utils/b3CheckPermissions/b2bPermissionPath.ts
  apps/storefront/src/utils/b3CheckPermissions/base.ts
  apps/storefront/src/utils/b3CheckPermissions/check.ts
  apps/storefront/src/utils/b3CheckPermissions/config.ts
  apps/storefront/src/utils/b3CheckPermissions/index.ts
  apps/storefront/src/utils/b3CheckPermissions/juniorRolePermissions.ts
  apps/storefront/src/utils/b3RolePermissions/b2bGotoRoute.ts
  apps/storefront/src/utils/b3RolePermissions/b3PermissionsList.ts
  apps/storefront/src/utils/b3RolePermissions/config.ts
  apps/storefront/src/utils/b3RolePermissions/index.ts
  apps/storefront/src/utils/b3ShoppingList/b3ShoppingList.ts
  apps/storefront/src/utils/index.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

feat: disabling logout button in catalyst
  apps/storefront/src/components/B3DropDown.tsx
Due: npx cspell lint

feat: disable_login_button setting
  apps/storefront/src/components/B3DropDown.tsx
  apps/storefront/src/index.d.ts
  apps/storefront/src/utils/basicConfig.ts
Due: npx cspell lint

refactor: stricter types for graphqlB2B fetch
  .cspell.json
  apps/storefront/src/components/B3StoreContainer.tsx
  apps/storefront/src/pages/Address/index.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuotesList/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/AddToShoppingList.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/QuickAdd.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/SearchProduct.tsx
  apps/storefront/src/pages/ShoppingLists/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/quote/components/AddToQuote.tsx
  apps/storefront/src/shared/service/request/b3Fetch.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: prettier --write, npx cspell lint

fix: cart Clearing After Navigating Away from Invoice Checkout (#209)
  apps/storefront/src/utils/b3ClearCart.ts
Due: npx cspell lint

fix: quote add companyName field and modify spelling
  apps/storefront/src/pages/quote/components/ContactInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteInfo.tsx
Due: npx cspell lint

feat: logout does not delete the cart, implement persistent cart in the Buyer Portal
  apps/storefront/src/pages/Login/index.tsx
Due: npx cspell lint

feat: disabling logout button in catalyst (#210)
  apps/storefront/src/components/B3DropDown.tsx
  apps/storefront/src/index.d.ts
  apps/storefront/src/utils/basicConfig.ts
Due: npx cspell lint

fix: the staging domain name is modified, a cluster forwarding error occurs
  apps/storefront/src/shared/service/request/base.ts
Due: npx cspell lint

feat: add subsidiary action (#198)
  .github/workflows/deploy-staging-atx.yml
  package.json
Due: prettier --write

feat: logout does not delete the cart, implement persistent cart in the Buyer Portal (#213)
  apps/storefront/src/pages/Login/index.tsx
Due: npx cspell lint

fix: quote add companyName field and modify spelling (#212)
  apps/storefront/src/pages/quote/components/ContactInfo.tsx
  apps/storefront/src/pages/quote/components/QuoteInfo.tsx
Due: npx cspell lint

fix: change style
  apps/storefront/src/components/B3Dialog.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/HierarchyDialog.tsx
Due: npx cspell lint

fix: order list get new Data when switch agency
  apps/storefront/src/components/table/B3PaginationTable.tsx
  apps/storefront/src/components/ui/B2BAutoCompleteCheckbox.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

fix: super admin is compatible with company subsidiaries
  apps/storefront/src/utils/b3CheckPermissions/check.ts
Due: npx cspell lint
