Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

refactor(company-hierarchy): B2BCAT-21 move to test id selector to avoid translation issues
  apps/storefront/src/pages/CompanyHierarchy/components/CompanyTableRowCard.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.mobile.test.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.test.tsx
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

docs(dashboard): B2BCAT-58 first draft of the Shopping Lists schema
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingLists.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
  rfc/graphql-schema/openQuestions.md
Due: npx cspell lint

docs(dashboard): B2BCAT-58 add collectionInfo to ShoppingListConnection
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingLists.ts
Due: npx cspell lint

docs(dashboard): B2BCAT-58 rename READY_FOR_APPROVAL to AWAITING_APPROVAL for consistency
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingLists.ts
Due: npx cspell lint

docs(dashboard): B2BCAT-58 add CustomerShoppingListsFiltersInput
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingLists.ts
Due: npx cspell lint

docs(dashboard): B2BCAT-58 add searchTerm to CompanyShoppingListsFiltersInput
  rfc/graphql-schema/additionalTypeDefs/byPage/shoppingLists.ts
Due: npx cspell lint

docs(company-hierarchy): B2BCAT-62 draft of the Company Hierarchy Schema
  rfc/graphql-schema/additionalTypeDefs/byPage/companyHierarchy.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
  rfc/graphql-schema/openQuestions.md
Due: npx cspell lint

docs(company-hierarchy): B2BCAT-62 add explicit link from Company to the root Query
  rfc/graphql-schema/additionalTypeDefs/byPage/companyHierarchy.ts
Due: npx cspell lint

refactor(company-hierarchy): B2BCAT-21 add test harness for Company Hierarchy
  apps/storefront/src/pages/CompanyHierarchy/components/CompanyTableRowCard.tsx
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.mobile.test.tsx
  apps/storefront/src/pages/CompanyHierarchy/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/global.ts
  packages/lang/locales/en.json
Due: prettier --write, npx cspell lint

refactor(shopping-lists): B2BCAT-23 add test for editing item notes and quantities
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/shoppingList.ts
Due: npx cspell lint

fix(catalyst): B2B-3107 catch currentcustomer call in order to open register
  apps/storefront/src/App.tsx
Due: npx cspell lint

fix(catalyst): B2B-3107 allow register page nav if unauthenticated
  apps/storefront/src/App.tsx
Due: npx cspell lint

fix(common): B2B-3215 automatic deploy to AWS staging removed
  .github/workflows/deploy-staging.yml
Due: none

fix(account): B2B-2346 reload data on account settings update instead of reloading page
  apps/storefront/src/pages/AccountSetting/index.tsx
Due: npx cspell lint

docs(companies): B2BCAT-8 Add schema for Company Registration
  graphql.config.ts
  rfc/graphql-schema/additionalTypeDefs/companyRegistration.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
  rfc/graphql-schema/openQuestions.md
Due: npx cspell lint

feat(quick-order): B2B-3183 rewrite tests for the quick order route permissions
  apps/storefront/tests/components/layout/B3Nav.test.tsx
  apps/storefront/tests/shared/routeList.test.ts
Due: npx cspell lint

feat(quick-order): B2B-2960 enable quick order for users representing child companies based on buyer permission
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/store/slices/company.ts
  apps/storefront/tests/shared/routeList.test.ts
  apps/storefront/tests/storeStateBuilders/companyStateBuilder.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

feat(quick-order): B2B-3183 remove unnecessary changes
  apps/storefront/src/components/layout/B3Nav.tsx
  apps/storefront/src/constants/index.ts
  apps/storefront/src/shared/routeList.ts
  apps/storefront/src/shared/routes/config.ts
  apps/storefront/src/store/slices/company.ts
  apps/storefront/tests/storeStateBuilders/companyStateBuilder.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

test(shopping-lists): B2BCAT-17 Ensure total price is present when checking for it
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

fix(company-hierarchy): B2BCAT-21 Add unique key prop to CompanyTableRowCard for mobile view
  apps/storefront/src/pages/CompanyHierarchy/components/TableTree.tsx
Due: npx cspell lint

test(common): B2BCAT-21 Add failOnConsole to try to prevent warning during tests
  apps/storefront/package.json
  apps/storefront/tests/setup-test-environment.ts
  apps/storefront/vite.config.ts
  yarn.lock
Due: prettier --write, npx cspell lint

chore(common): B2BCAT-4 Remove unnecessary dependencies from rfc/graphql-schema
  graphql.config.ts
  rfc/graphql-schema/package.json
  rfc/graphql-schema/yarn.lock
Due: prettier --write, npx cspell lint

docs(account): B2BCAT-4 Add draft schema for account settings
  rfc/graphql-schema/additionalTypeDefs/byPage/accountSettings.ts
  rfc/graphql-schema/additionalTypeDefs/byPage/userManagement.ts
  rfc/graphql-schema/additionalTypeDefs/index.ts
Due: npx cspell lint

fix(quotes): B2B-3178 Properly transform quick added products
  apps/storefront/src/pages/quote/components/AddToQuote.tsx
Due: npx cspell lint

refactor(orders): B2BCAT-11 Add mobile masquerading tests + some refining
  apps/storefront/src/components/form/B3ControlSelect.tsx
  apps/storefront/src/pages/MyOrders/index.mobile.test.tsx
  apps/storefront/src/pages/MyOrders/index.test.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/shared/getOrderStatus.ts
Due: npx cspell lint

test(company-orders): B2BCAT-12 Add test harness for CompanyOrders
  apps/storefront/src/pages/CompanyOrderList/index.mobile.test.tsx
  apps/storefront/src/pages/CompanyOrderList/index.test.tsx
  commit-validation.json
Due: prettier --write, npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
