Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

chore(deps): B2B-4685 configure legacy plugin modernTargets to fix esbuild destructuring error
  apps/storefront/vite.config.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

fix(register): B2B-4460 Buyer Portal: Use stateRequired flag for state field validation instead of states list (#821)
  apps/storefront/src/hooks/useGetCountry.ts
  apps/storefront/src/pages/AddressList/index.tsx
  apps/storefront/src/pages/Registered/RegisterSteps/index.tsx
  apps/storefront/src/pages/Registered/RegisterSteps/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/config.ts
  apps/storefront/src/pages/RegisteredBCToB2B/Register.tsx
  apps/storefront/src/pages/RegisteredBCToB2B/RegistrationForm/useRegistrationForm.ts
  apps/storefront/src/shared/global/context/config.ts
  apps/storefront/src/shared/service/b2b/graphql/register.ts
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

chore(common): B2B-4646 Add B2B checkout dynamic test suite to trigger on Staging Launchbay deployments as non-blocking
  .infrastructure/regression.tf
Due: none

chore(common): B2B-4646 Cleanup regression.tf as atlantis does not run on public repos
  .infrastructure/regression.tf
Due: none

chore(common): B2B-4646 Cleanup regression.tf as atlantis does not run on public repos (#824)
  .infrastructure/regression.tf
Due: none

Revert "chore(deps-dev): Bump vite from 7.1.11 to 7.3.2"
  apps/storefront/package.json
  yarn.lock
Due: prettier --write

Revert "chore(deps): B2B-4685 configure legacy plugin modernTargets to fix esbuild destructuring error"
  apps/storefront/vite.config.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

Revert "chore(deps): B2B-4685 update caniuse-lite to 1.0.30001787"
  yarn.lock
Due: none

Revert "chore(deps-dev): Bump vite from 7.1.11 to 7.3.2" (#830)
  apps/storefront/package.json
  apps/storefront/vite.config.ts
  commit-validation.json
  yarn.lock
Due: prettier --write, npx cspell lint

feat(common): LOCAL-3191 FOR TESTS
  apps/storefront/src/shared/service/b2b/graphql/global.ts
Due: npx cspell lint

feat(common): LOCAL-3191 FOR TESTS
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

fix(carts): B2B-4497 add target parameter to decouple cart validation from quote NP/OOS flag
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/utils/validateProducts.ts
Due: npx cspell lint

feat(orders): B2B-4611 Orders unification types, fragments and queries added
  apps/storefront/src/shared/service/bc/graphql/base.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

feat(orders): B2B-4611 fix lint errors
  apps/storefront/src/shared/service/bc/index.ts
Due: npx cspell lint

feat(orders): B2B-4611 ignoring base.ts and orders.ts so lint error is skipped
  apps/storefront/knip.jsonc
Due: none

feat(orders): B2B-4611 update docs link
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

feat(common): LOCAL-3191 FOR TESTING NEW GRAPHQL REQUEST
  apps/storefront/src/shared/service/b2b/graphql/global.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(common): LOCAL-3191 multi-lang dropdown
  apps/storefront/src/components/layout/B3LanguageDropdown.tsx
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(common): LOCAL-3191 multi-lang dropdown
  apps/storefront/tests/storeStateBuilders/globalStateBuilder.ts
Due: npx cspell lint

feat(common): LOCAL-3191 multi-lang dropdown
  apps/storefront/src/components/layout/B3LanguageDropdown.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/featureFlags.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(common): LOCAL-3191 fix dropdown
  apps/storefront/src/components/layout/B3MainHeader.tsx
Due: npx cspell lint

feat(common): LOCAL-3191 fix dropdown #2
  apps/storefront/src/components/layout/B3LanguageDropdown.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
Due: npx cspell lint

feat(common): LOCAL-3191 update default language
  apps/storefront/src/components/layout/B3LanguageDropdown.tsx
  apps/storefront/src/shared/service/b2b/api/global.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(orders): B2B-4611 review comments addressed
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

feat(orders): B2B-4611 Add sort by for my orders
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

feat(quotes): BACK-583 quote draft backorder display
  apps/storefront/src/components/BackorderMessage.test.tsx
  apps/storefront/src/components/BackorderMessage.tsx
  apps/storefront/src/pages/quote/components/QuoteTable.tsx
  apps/storefront/src/pages/quote/components/QuoteTableCard.tsx
  apps/storefront/src/pages/quote/utils/getDraftBackorderDisplayFields.test.ts
  apps/storefront/src/pages/quote/utils/getDraftBackorderDisplayFields.ts
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/types/products.ts
Due: npx cspell lint

feat(quotes): BACK-583 quote draft backorder display (#815)
  apps/storefront/src/components/BackorderMessage.test.tsx
  apps/storefront/src/components/BackorderMessage.tsx
  apps/storefront/src/pages/quote/components/QuoteTable.tsx
  apps/storefront/src/pages/quote/components/QuoteTableCard.tsx
  apps/storefront/src/pages/quote/utils/getDraftBackorderDisplayFields.test.ts
  apps/storefront/src/pages/quote/utils/getDraftBackorderDisplayFields.ts
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/types/products.ts
Due: npx cspell lint

B2b 4611 (#833)
  apps/storefront/knip.jsonc
  apps/storefront/src/shared/service/bc/graphql/base.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
  apps/storefront/src/shared/service/bc/index.ts
Due: npx cspell lint

fix(carts): add target parameter to decouple cart validation from quote NP/OOS flag (#832)
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickAdd.tsx
  apps/storefront/src/pages/QuickOrder/components/QuickOrderPad.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/utils/validateProducts.ts
Due: npx cspell lint

chore(deps): B2B-4685 Fix vite config and launchbay deploy script
  apps/storefront/vite.config.ts
  commit-validation.json
  config/deploy/after.sh
Due: prettier --write, npx cspell lint

Dependabot/npm and yarn/vite 7.3.2 (#834)
  apps/storefront/package.json
  apps/storefront/vite.config.ts
  commit-validation.json
  config/deploy/after.sh
  yarn.lock
Due: prettier --write, npx cspell lint

feat(orders): B2B-4612 add unit test cases to validate gql queries
  apps/storefront/src/shared/service/bc/graphql/orders.test.ts
Due: npx cspell lint

feat(common): LOCAL-3191 multi-lang dropdown
  apps/storefront/src/components/layout/B3AccountInfo.tsx
  apps/storefront/src/components/layout/B3LocaleDropdown.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/shared/service/b2b/graphql/global.ts
  apps/storefront/src/shared/service/b2b/index.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/b3DateFormat/setDayjsLocale.tsx
  apps/storefront/src/utils/featureFlags.ts
  apps/storefront/src/utils/storefrontConfig.ts
  apps/storefront/tests/storeStateBuilders/globalStateBuilder.ts
Due: npx cspell lint

feat(orders): B2B-4613 register B2B-4613.buyer_portal_unified_sf_gql_orders feature flag
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

feat(common): LOCAL-3191 rename some variables
  apps/storefront/src/components/layout/B3LocaleDropdown.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(common): LOCAL-3191 rename some variables
  apps/storefront/src/components/layout/B3MainHeader.tsx
  apps/storefront/src/components/layout/Locales.tsx
Due: npx cspell lint

feat(common): LOCAL-3191 rename some variables #2
  apps/storefront/src/components/layout/Locales.tsx
Due: npx cspell lint

feat(common): LOCAL-3191 rename some variables #2
  apps/storefront/src/components/layout/B3Locales.tsx
  apps/storefront/src/components/layout/B3MainHeader.tsx
Due: npx cspell lint

feat(common): LOCAL-3191 rename some variables #2
  apps/storefront/src/components/layout/B3Locales.test.tsx
  apps/storefront/src/components/layout/B3Locales.tsx
  apps/storefront/src/utils/featureFlags.ts
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(orders): B2B-4613 register B2B-4613.buyer_portal_unified_sf_gql_orders feature flag (#838)
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
