Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

B2B-4622 Add subsidiary hierarchy filter tests for unified Company Orders (#884)
  apps/storefront/src/pages/CompanyOrderList/unified-company-orders.test.tsx
Due: npx cspell lint

feat(orders): B2B-4629 Implement Order Detail Navigation with Cursor Pagination
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/mapSfGqlOrderToListItem.ts
Due: prettier --write, npx cspell lint

feat(orders): B2B-4629 Clean up legacy order detail path
  apps/storefront/src/pages/OrderDetail/components/DetailPagination.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

feat(shopping-lists): BACK-618 add backorder display to shopping list add to cart
  apps/storefront/src/pages/OrderDetail/components/OrderCheckboxProduct.tsx
  apps/storefront/src/pages/OrderDetail/utils/reorderBackorderDisplay.test.ts
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/utils/catalogBackorderDisplay.test.ts
  apps/storefront/src/utils/catalogBackorderDisplay.ts
Due: npx cspell lint

feat(orders): B2B-4629 Implement Order Detail Navigation with Cursor Pagination
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/components/DetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/mapSfGqlOrderToListItem.ts
Due: prettier --write, npx cspell lint

feat(orders): B2B-4621 implement placed-by filter via SF GQL company users query
  apps/storefront/src/pages/CompanyOrderList/unified-company-orders.test.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/useCompanyOrdersState.ts
Due: npx cspell lint

feat(orders): B2B-4629 Fix lint and test errors with test clean up
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
Due: npx cspell lint

fix(orders): B2B-4621 fix duplicate API call and stale customerId on subsidiary change
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/useCompanyOrdersState.ts
Due: npx cspell lint

feat(orders): B2B-4629 Add fix for edge cases with tests added
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

fix(orders): B2B-4621 avoid redundant status re-fetch and race condition
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

feat(orders): B2B-4629 Update boundary fetch page size
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

fix(orders): B2B-4621 remove unused placedByUsersRef
  apps/storefront/src/pages/order/Order.tsx
Due: npx cspell lint

feat(orders): B2B-4629 Address review comments
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
Due: npx cspell lint

fix(common): B2B-3876 normalize uppercase token_location
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/QuotesList/index.test.tsx
  apps/storefront/src/store/slices/storeConfigs.ts
  apps/storefront/src/utils/b3CurrencyFormat.ts
Due: npx cspell lint

feat(shopping-lists): BACK-618 add backorder display to shopping list add to cart (#885)
  apps/storefront/src/pages/OrderDetail/components/OrderCheckboxProduct.tsx
  apps/storefront/src/pages/OrderDetail/utils/reorderBackorderDisplay.test.ts
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/utils/catalogBackorderDisplay.test.ts
  apps/storefront/src/utils/catalogBackorderDisplay.ts
Due: npx cspell lint

fix(orders): B2B-4621 address PR review feedback
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/config.ts
  apps/storefront/src/pages/order/useCompanyOrdersState.ts
Due: npx cspell lint

refactor(orders): B2B-4621 extract usePlacedByUsers hook with useInfiniteQuery
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/useCompanyOrdersState.ts
  apps/storefront/src/pages/order/usePlacedByUsers.test.ts
  apps/storefront/src/pages/order/usePlacedByUsers.ts
Due: npx cspell lint

B2B-4621 Implement placed-by filter via SF GQL company users query (#886)
  apps/storefront/src/pages/CompanyOrderList/unified-company-orders.test.tsx
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/config.ts
  apps/storefront/src/pages/order/useCompanyOrdersState.ts
  apps/storefront/src/pages/order/usePlacedByUsers.test.ts
  apps/storefront/src/pages/order/usePlacedByUsers.ts
Due: npx cspell lint

feat(orders): B2B-4826 migrate order detail shipments, billing, payment to SF GQL
  apps/storefront/src/pages/CompanyOrderList/unified-company-orders.test.tsx
  apps/storefront/src/pages/MyOrders/unified-orders.test.tsx
  apps/storefront/src/pages/OrderDetail/index.unified.test.tsx
  apps/storefront/src/pages/OrderDetail/shared/convertOrderDetail.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

feat(quick-order): BACK-619 add backorder display to quick order pad
  apps/storefront/src/components/B3ProductList.tsx
  apps/storefront/src/pages/QuickOrder/components/ProductListDialog.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
Due: npx cspell lint

feat(orders): B2B-4826 port AC tests and address review feedback
  apps/storefront/src/pages/OrderDetail/index.unified.test.tsx
  apps/storefront/src/pages/OrderDetail/shared/convertOrderDetail.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

feat(quick-order): BACK-619 add backorder display to quick order pad (#890)
  apps/storefront/src/components/B3ProductList.tsx
  apps/storefront/src/pages/QuickOrder/components/ProductListDialog.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
Due: npx cspell lint

feat(orders): B2B-4629 Extract cursor state generc layer into a hook
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/OrderDetail/useCursorDetailPagination.test.ts
  apps/storefront/src/pages/OrderDetail/useCursorDetailPagination.ts
Due: npx cspell lint

feat(orders): B2B-4629 Add error handling for detail cursor pagination
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
Due: prettier --write, npx cspell lint

feat(orders): B2B-4629 Address bot commits
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/useCursorDetailPagination.test.ts
  apps/storefront/src/pages/OrderDetail/useCursorDetailPagination.ts
Due: npx cspell lint

fix(orders): B2B-4826 remove ticket numbers from section comments
  apps/storefront/src/pages/OrderDetail/shared/convertOrderDetail.ts
Due: npx cspell lint

[B2B-4826] Migrate Order Detail shipments, billing, payment to SF GQL (#891)
  apps/storefront/src/pages/CompanyOrderList/unified-company-orders.test.tsx
  apps/storefront/src/pages/MyOrders/unified-orders.test.tsx
  apps/storefront/src/pages/OrderDetail/index.unified.test.tsx
  apps/storefront/src/pages/OrderDetail/shared/convertOrderDetail.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
Due: npx cspell lint

feat(orders): B2B-4629 Address review comments
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
Due: prettier --write, npx cspell lint

feat(orders): B2B-4629 Implement Order Detail Navigation with Cursor Pagination (#888)
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.test.tsx
  apps/storefront/src/pages/OrderDetail/components/CursorDetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/components/DetailPagination.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/OrderDetail/useCursorDetailPagination.test.ts
  apps/storefront/src/pages/OrderDetail/useCursorDetailPagination.ts
  apps/storefront/src/pages/order/Order.tsx
  apps/storefront/src/pages/order/mapSfGqlOrderToListItem.ts
Due: prettier --write, npx cspell lint

fix(quick-order): BACK-619 fix quick order pad layout
  apps/storefront/src/components/B3ProductList.tsx
Due: npx cspell lint

fix(quick-order): BACK-619 fix quick order pad layout (#894)
  apps/storefront/src/components/B3ProductList.tsx
Due: npx cspell lint

feat(quick-order): BACK-619 add backorder display to complex products
  apps/storefront/src/pages/QuickOrder/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
  apps/storefront/src/types/shoppingList.ts
  apps/storefront/src/utils/catalogBackorderDisplay.test.ts
  apps/storefront/src/utils/catalogBackorderDisplay.ts
Due: npx cspell lint

fix(quotes): B2B-4976 Remove the sessionStorage set of quoteCheckoutUuid
  apps/storefront/src/pages/QuoteDetail/index.test.tsx
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
  apps/storefront/src/utils/b3checkout.ts
Due: npx cspell lint

feat(quick-order): BACK-619 add backorder display to complex products (#893)
  apps/storefront/src/pages/QuickOrder/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
  apps/storefront/src/types/shoppingList.ts
  apps/storefront/src/utils/catalogBackorderDisplay.test.ts
  apps/storefront/src/utils/catalogBackorderDisplay.ts
Due: npx cspell lint

feat(other): LOCAL-1444 delivery translation
  apps/storefront/src/lib/lang/locales/da.json
  apps/storefront/src/lib/lang/locales/de.json
  apps/storefront/src/lib/lang/locales/es-419.json
  apps/storefront/src/lib/lang/locales/es-AR.json
  apps/storefront/src/lib/lang/locales/es-CL.json
  apps/storefront/src/lib/lang/locales/es-CO.json
  apps/storefront/src/lib/lang/locales/es-LA.json
  apps/storefront/src/lib/lang/locales/es-MX.json
  apps/storefront/src/lib/lang/locales/es-PE.json
  apps/storefront/src/lib/lang/locales/es.json
  apps/storefront/src/lib/lang/locales/fr.json
  apps/storefront/src/lib/lang/locales/it.json
  apps/storefront/src/lib/lang/locales/ja.json
  apps/storefront/src/lib/lang/locales/nl.json
  apps/storefront/src/lib/lang/locales/no.json
  apps/storefront/src/lib/lang/locales/pl.json
  apps/storefront/src/lib/lang/locales/pt-BR.json
  apps/storefront/src/lib/lang/locales/pt.json
  apps/storefront/src/lib/lang/locales/sv.json
Due: prettier --write

LOCAL-3323: feat(translation) - Add pre-translated message bundles per locale
  apps/storefront/.dependency-cruiser.cjs
  apps/storefront/src/components/layout/B3LocaleSwitcher.tsx
  apps/storefront/src/lib/lang/LangProvider.tsx
  apps/storefront/src/lib/lang/getActiveLocale.test.ts
  apps/storefront/src/lib/lang/getActiveLocale.ts
  apps/storefront/src/lib/lang/locales/es.json
  apps/storefront/src/lib/lang/locales/fr.json
  apps/storefront/src/lib/lang/locales/index.ts
  apps/storefront/src/lib/lang/pickLocaleBundle.test.ts
  apps/storefront/src/lib/lang/pickLocaleBundle.ts
  apps/storefront/src/lib/lang/useLocaleBundle.ts
  apps/storefront/vite.config.ts
Due: prettier --write, npx cspell lint

feat(translation): LOCAL-3324 combine localization machinery with delivered translations
  apps/storefront/src/lib/lang/locales/da.json
  apps/storefront/src/lib/lang/locales/de.json
  apps/storefront/src/lib/lang/locales/es-419.json
  apps/storefront/src/lib/lang/locales/es-AR.json
  apps/storefront/src/lib/lang/locales/es-CL.json
  apps/storefront/src/lib/lang/locales/es-CO.json
  apps/storefront/src/lib/lang/locales/es-LA.json
  apps/storefront/src/lib/lang/locales/es-MX.json
  apps/storefront/src/lib/lang/locales/es-PE.json
  apps/storefront/src/lib/lang/locales/es.json
  apps/storefront/src/lib/lang/locales/index.ts
  apps/storefront/src/lib/lang/locales/it.json
  apps/storefront/src/lib/lang/locales/ja.json
  apps/storefront/src/lib/lang/locales/nl.json
  apps/storefront/src/lib/lang/locales/no.json
  apps/storefront/src/lib/lang/locales/pl.json
  apps/storefront/src/lib/lang/locales/pt-BR.json
  apps/storefront/src/lib/lang/locales/pt.json
  apps/storefront/src/lib/lang/locales/sv.json
Due: prettier --write, npx cspell lint

feat(quotes): BACK-516 Write flag to session when Backorder information has changed between quote and checkout.
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/quote/utils/buildQuoteStockSnapshot.test.ts
  apps/storefront/src/pages/quote/utils/buildQuoteStockSnapshot.ts
  apps/storefront/src/pages/quote/utils/detectQuoteStockChange.test.ts
  apps/storefront/src/pages/quote/utils/detectQuoteStockChange.ts
  apps/storefront/src/pages/quote/utils/quoteCheckout.test.ts
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
Due: npx cspell lint

feat(quotes): BACK-516 Write flag to session when Backorder information has changed between quote and checkout. (#892)
  apps/storefront/src/pages/QuoteDetail/index.tsx
  apps/storefront/src/pages/quote/utils/buildQuoteStockSnapshot.test.ts
  apps/storefront/src/pages/quote/utils/buildQuoteStockSnapshot.ts
  apps/storefront/src/pages/quote/utils/detectQuoteStockChange.test.ts
  apps/storefront/src/pages/quote/utils/detectQuoteStockChange.ts
  apps/storefront/src/pages/quote/utils/quoteCheckout.test.ts
  apps/storefront/src/pages/quote/utils/quoteCheckout.ts
Due: npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
