Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

.lintstagedrc.json:

{
  "**/*.json": "prettier --write",
  "**/*.{js,jsx,ts,tsx,md}": "npx cspell lint"
}

Revert "fix(login): B2B-4492 ensure SUPER_ADMIN always lands on /dashboard af…"
  apps/storefront/src/pages/Login/index.test.tsx
  apps/storefront/src/utils/b3CheckPermissions/b2bPermissionPath.ts
Due: npx cspell lint

Revert "fix(products): B2B-4460 Update GraphQL query structure for product se…"
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/pages/PDP/index.b2b.test.tsx
  apps/storefront/src/pages/PDP/index.b2c.test.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

fix(quick-order): B2B-4460 Update GraphQL query structure for product search to use variables
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

fix(login): B2B-4492 ensure SUPER_ADMIN always lands on /dashboard after login
  apps/storefront/src/utils/b3AccountItem.ts
  apps/storefront/src/utils/b3CheckPermissions/b2bPermissionPath.ts
Due: npx cspell lint

fix(quotes): BACK-557 Display backorder information when required in the quoteDetails view.
  apps/storefront/src/components/BackorderMessage.test.tsx
  apps/storefront/src/components/BackorderMessage.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/quote/components/QuoteDetailTable.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailTableCard.tsx
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
Due: prettier --write, npx cspell lint

refactor(login): B2B-4474 Added LoginImage and LoginTip components
  apps/storefront/src/pages/ForgotPassword/index.tsx
  apps/storefront/src/pages/Login/LoginImage.tsx
  apps/storefront/src/pages/Login/LoginTip.tsx
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/Login/styled.ts
Due: npx cspell lint

refactor(login): B2B-4474 Removed unnecessary nested boxes in RegisterAndLogin
  apps/storefront/src/pages/Login/index.tsx
  apps/storefront/src/pages/Login/styled.ts
Due: npx cspell lint

chore(register): B2B-4466 clean up component and improve readability
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/pages/AccountSetting/utils.ts
  apps/storefront/src/pages/AddressList/components/AddressForm.tsx
  apps/storefront/src/pages/AddressList/shared/getAddressFields.ts
  apps/storefront/src/pages/QuickOrder/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/Registered/RegisterComplete.tsx
  apps/storefront/src/pages/Registered/components/PrimaryButton.tsx
  apps/storefront/src/pages/Registered/components/RegisterContent.tsx
  apps/storefront/src/pages/Registered/components/RegisteredStep.tsx
  apps/storefront/src/pages/Registered/components/steps/AccountStep.tsx
  apps/storefront/src/pages/Registered/components/steps/CompleteStep.tsx
  apps/storefront/src/pages/Registered/components/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/components/steps/FinishStep.tsx
  apps/storefront/src/pages/Registered/constants.ts
  apps/storefront/src/pages/Registered/context/RegisteredContext.tsx
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/pages/Registered/types.ts
  apps/storefront/src/pages/Registered/utils/formData.ts
  apps/storefront/src/pages/Registered/utils/formFieldConversion.ts
  apps/storefront/src/pages/Registered/utils/index.ts
  apps/storefront/src/pages/Registered/utils/normalizeAccountFormFields.ts
  apps/storefront/src/pages/Registered/utils/payloads.ts
  apps/storefront/src/pages/Registered/utils/validation.ts
  apps/storefront/src/pages/RegisteredBCToB2B/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/quote/components/QuoteInfoAndExtrafieldsItem.tsx
  apps/storefront/src/utils/b3Product/shared/config.ts
  apps/storefront/src/utils/base64.ts
Due: prettier --write, npx cspell lint

chore(products): B2B-3705 Make GQL query using variables rather than … (#782)
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/utils/featureFlags.ts
  commit-validation.json
Due: prettier --write, npx cspell lint

refactor(common): B2B-4466 extract Base64 to @/utils/base64
  apps/storefront/src/pages/QuickOrder/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/Registered/RegisteredAccount.tsx
  apps/storefront/src/pages/Registered/config.ts
  apps/storefront/src/pages/RegisteredBCToB2B/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/quote/components/QuoteInfoAndExtrafieldsItem.tsx
  apps/storefront/src/utils/b3Product/shared/config.ts
  apps/storefront/src/utils/base64.ts
Due: npx cspell lint

refactor(Registered): add shared types and constants (PR2)
  apps/storefront/src/pages/Registered/constants.ts
  apps/storefront/src/pages/Registered/context/RegisteredContext.tsx
  apps/storefront/src/pages/Registered/types.ts
Due: npx cspell lint

feat(Registered): add localization for create password and email sign-in tip
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/Registered/RegisterComplete.tsx
  apps/storefront/src/pages/Registered/RegisteredAccount.tsx
Due: prettier --write, npx cspell lint

refactor(common): B2B-4466 translations updated for registered page
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/Registered/RegisterComplete.tsx
  apps/storefront/src/pages/Registered/RegisteredAccount.tsx
Due: prettier --write, npx cspell lint

refactor(common): B2B-4466 extract config to @/utils/registerUtils
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/pages/AccountSetting/utils.ts
  apps/storefront/src/pages/AddressList/components/AddressForm.tsx
  apps/storefront/src/pages/AddressList/shared/getAddressFields.ts
  apps/storefront/src/pages/Registered/RegisterComplete.tsx
  apps/storefront/src/pages/Registered/config.ts
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/pages/RegisteredBCToB2B/index.tsx
  apps/storefront/src/utils/registerUtils.ts
Due: npx cspell lint

refactor(register): B2B-4466 Move component to components folder for readability
  apps/storefront/src/pages/Registered/components/PrimaryButton.tsx
  apps/storefront/src/pages/Registered/components/RegisterContent.tsx
  apps/storefront/src/pages/Registered/components/RegisteredStep.tsx
  apps/storefront/src/pages/Registered/components/steps/AccountStep.tsx
  apps/storefront/src/pages/Registered/components/steps/CompleteStep.tsx
  apps/storefront/src/pages/Registered/components/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/components/steps/FinishStep.tsx
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/pages/RegisteredBCToB2B/index.tsx
Due: npx cspell lint

refactor(register): B2B-4466 fixed lint and typescript errors
  apps/storefront/src/pages/Registered/components/RegisteredStep.tsx
  apps/storefront/src/pages/Registered/components/steps/AccountStep.tsx
  apps/storefront/src/pages/Registered/components/steps/CompleteStep.tsx
  apps/storefront/src/pages/Registered/components/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/components/steps/FinishStep.tsx
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/pages/RegisteredBCToB2B/index.tsx
Due: npx cspell lint

refactor(register): B2B-4466 Added AccountType Enum instead of hardcoding 1 and 2
  apps/storefront/src/pages/Registered/components/RegisteredStep.tsx
  apps/storefront/src/pages/Registered/components/steps/AccountStep.tsx
  apps/storefront/src/pages/Registered/components/steps/CompleteStep.tsx
  apps/storefront/src/pages/Registered/components/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/components/steps/FinishStep.tsx
  apps/storefront/src/pages/Registered/config.ts
  apps/storefront/src/pages/Registered/index.tsx
Due: npx cspell lint

Revert "refactor(register): B2B-4466 Added AccountType Enum instead of hardcoding 1 and 2"
  apps/storefront/src/pages/Registered/components/RegisteredStep.tsx
  apps/storefront/src/pages/Registered/components/steps/AccountStep.tsx
  apps/storefront/src/pages/Registered/components/steps/CompleteStep.tsx
  apps/storefront/src/pages/Registered/components/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/components/steps/FinishStep.tsx
  apps/storefront/src/pages/Registered/config.ts
  apps/storefront/src/pages/Registered/index.tsx
Due: npx cspell lint

refactor(common): B2B-4466 extract business logic to utils to improve readability
  apps/storefront/src/pages/Registered/components/RegisteredStep.tsx
  apps/storefront/src/pages/Registered/components/steps/AccountStep.tsx
  apps/storefront/src/pages/Registered/components/steps/CompleteStep.tsx
  apps/storefront/src/pages/Registered/components/steps/DetailStep.tsx
  apps/storefront/src/pages/Registered/config.ts
  apps/storefront/src/pages/Registered/constants.ts
  apps/storefront/src/pages/Registered/context/RegisteredContext.tsx
  apps/storefront/src/pages/Registered/index.tsx
  apps/storefront/src/pages/Registered/types.ts
  apps/storefront/src/pages/Registered/utils/formFields.ts
  apps/storefront/src/pages/Registered/utils/index.ts
  apps/storefront/src/pages/Registered/utils/payloads.ts
  apps/storefront/src/pages/Registered/utils/validation.ts
  apps/storefront/src/pages/RegisteredBCToB2B/index.tsx
  apps/storefront/src/utils/registerUtils.ts
Due: npx cspell lint

fix(user-management): B2B-4462 adding products to shopping list issue fix
  apps/storefront/src/hooks/dom/useOpenPDP.ts
Due: npx cspell lint

fix(user-management): B2B-4462 adding products to shopping list issue… (#797)
  apps/storefront/src/hooks/dom/useOpenPDP.ts
Due: npx cspell lint

chore(products): B2B-3705 Force-cast productId field to a number
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

chore(products): B2B-3705 Add comment to explain the unobvious casting
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

chore(products): B2B-3705 Force-cast productId field to a number (#798)
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

fix(docs): B2B-1055 Call out that at least one of the configuration options needs to be completed as part of setting up local development
  README.md
Due: npx cspell lint

fix(quick-order): B2B-4385 Added error handling for stale products
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/QuickOrder/components/QuickOrderFooter.tsx
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuickOrder/utils.ts
Due: prettier --write, npx cspell lint

fix(docs): B2B-1055 Comment fixes
  README.md
Due: npx cspell lint

fix(docs): B2B-1055 Add commit scope, similar to other repos
  commit-validation.json
Due: prettier --write

fix(docs): B2B-1055 Fix ordering because I am blind
  commit-validation.json
Due: prettier --write
