Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

feat(common): LOCAL-1444 delivery translation (#957)
  apps/storefront/src/lib/lang/locales/da.json
  apps/storefront/src/lib/lang/locales/de.json
  apps/storefront/src/lib/lang/locales/es-419.json
  apps/storefront/src/lib/lang/locales/es-AR.json
  apps/storefront/src/lib/lang/locales/es-CL.json
  apps/storefront/src/lib/lang/locales/es-CO.json
  apps/storefront/src/lib/lang/locales/es-LA.json
  apps/storefront/src/lib/lang/locales/es-MX.json
  apps/storefront/src/lib/lang/locales/es-PE.json
  apps/storefront/src/lib/lang/locales/es.json
  apps/storefront/src/lib/lang/locales/fr.json
  apps/storefront/src/lib/lang/locales/it.json
  apps/storefront/src/lib/lang/locales/ja.json
  apps/storefront/src/lib/lang/locales/nl.json
  apps/storefront/src/lib/lang/locales/no.json
  apps/storefront/src/lib/lang/locales/pl.json
  apps/storefront/src/lib/lang/locales/pt-BR.json
  apps/storefront/src/lib/lang/locales/pt.json
  apps/storefront/src/lib/lang/locales/sv.json
Due: prettier --write

fix(invoices): B2B-4553 Block buyers to pay invoice with different currencies
  apps/storefront/src/components/table/B3PaginationTable.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/Invoice/index.test.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/Invoice/utils/payment.ts
Due: prettier --write, npx cspell lint

fix(orders): B2B-4255 Show "Awaiting Payment" for unpaid orders without a PO
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/OrderDetail/index.unified.test.tsx
  apps/storefront/src/pages/OrderDetail/shared/convertOrderDetail.ts
  apps/storefront/src/shared/service/b2b/graphql/orders.ts
Due: prettier --write, npx cspell lint

fix(invoices): B2B-4553 Block buyers selecting all invoices when contains different currencies
  apps/storefront/src/pages/Invoice/index.test.tsx
Due: npx cspell lint

fix(invoices): B2B-4553 Disable pay invoice button when selecting different currencies invoice
  apps/storefront/src/components/table/B3PaginationTable.tsx
  apps/storefront/src/pages/Invoice/components/InvoiceFooter.tsx
  apps/storefront/src/pages/Invoice/index.test.tsx
  apps/storefront/src/pages/Invoice/index.tsx
Due: npx cspell lint

refactor(orders): B2B-4255 Normalise awaiting-payment status code across order flows
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/pages/OrderDetail/shared/orderStatus.test.ts
  apps/storefront/src/pages/OrderDetail/shared/orderStatus.ts
Due: npx cspell lint

LOCAL-3436: fix(translation) - Register all locale bundles in localeLoaders
  apps/storefront/src/lib/lang/locales/index.ts
Due: npx cspell lint

feat(orders): BACK-658 Render backorder prompt for picklist items in the quickorder prompt.
  apps/storefront/src/pages/QuickOrder/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
Due: npx cspell lint

fix(invoices): B2B-4553 Add test for mobile and clean up helper
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/Invoice/components/InvoiceFooter.tsx
  apps/storefront/src/pages/Invoice/index.mobile.test.tsx
  apps/storefront/src/pages/Invoice/index.test.tsx
  apps/storefront/src/pages/Invoice/utils/payment.ts
Due: prettier --write, npx cspell lint

feat(orders): BACK-658 Render backorder prompt for picklist items in … (#965)
  apps/storefront/src/pages/QuickOrder/components/ChooseOptionsDialog.tsx
  apps/storefront/src/pages/QuickOrder/index.quickpad.test.tsx
Due: npx cspell lint

fix(invoices): B2B-4553 Address review comments
  apps/storefront/src/pages/Invoice/components/InvoiceFooter.tsx
  apps/storefront/src/pages/Invoice/index.test.tsx
Due: npx cspell lint

fix(invoices): B2B-4553 Fix currreny format in invoice list for mobile
  apps/storefront/src/pages/Invoice/InvoiceItemCard.tsx
  apps/storefront/src/pages/Invoice/index.mobile.test.tsx
  apps/storefront/src/pages/Invoice/index.test.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/Invoice/utils/payment.ts
Due: npx cspell lint

feat(other): LOCAL-1444 delivery translation
  apps/storefront/src/lib/lang/locales/da.json
  apps/storefront/src/lib/lang/locales/de.json
  apps/storefront/src/lib/lang/locales/es-419.json
  apps/storefront/src/lib/lang/locales/es-AR.json
  apps/storefront/src/lib/lang/locales/es-CL.json
  apps/storefront/src/lib/lang/locales/es-CO.json
  apps/storefront/src/lib/lang/locales/es-LA.json
  apps/storefront/src/lib/lang/locales/es-MX.json
  apps/storefront/src/lib/lang/locales/es-PE.json
  apps/storefront/src/lib/lang/locales/es.json
  apps/storefront/src/lib/lang/locales/fr.json
  apps/storefront/src/lib/lang/locales/it.json
  apps/storefront/src/lib/lang/locales/ja.json
  apps/storefront/src/lib/lang/locales/nl.json
  apps/storefront/src/lib/lang/locales/no.json
  apps/storefront/src/lib/lang/locales/sv.json
Due: prettier --write

fix(invoices): B2B-4553 Block buyers to pay invoice with different currencies (#968)
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/Invoice/InvoiceItemCard.tsx
  apps/storefront/src/pages/Invoice/components/InvoiceFooter.tsx
  apps/storefront/src/pages/Invoice/index.mobile.test.tsx
  apps/storefront/src/pages/Invoice/index.test.tsx
  apps/storefront/src/pages/Invoice/index.tsx
  apps/storefront/src/pages/Invoice/utils/payment.ts
Due: prettier --write, npx cspell lint

fix(orders): B2B-4255 do not show orders with no PO number awaiting payment as "Paid in full" (#967)
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/OrderDetail/index.unified.test.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/pages/OrderDetail/shared/convertOrderDetail.ts
  apps/storefront/src/pages/OrderDetail/shared/orderStatus.test.ts
  apps/storefront/src/pages/OrderDetail/shared/orderStatus.ts
  apps/storefront/src/shared/service/b2b/graphql/orders.ts
Due: prettier --write, npx cspell lint

fix(register): B2B-5056 fall back to createB2BCompanyUser on non-BigCommerce platforms
  apps/storefront/src/pages/Registered/RegisterSteps/steps/CompleteStep/index.tsx
  apps/storefront/src/pages/Registered/index.catalyst.test.tsx
Due: npx cspell lint

LOCAL-3436: Register all locale bundles in localeLoaders (#969)
  apps/storefront/src/lib/lang/locales/index.ts
Due: npx cspell lint

feat(common): B2B-5309 Remove multiple API calls on load and update
  apps/storefront/src/hooks/useMobile.ts
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

feat(quotes): BACK-722 Implement backorders for picklist children in ordered quotes.
  apps/storefront/src/components/PicklistBackorderMessages.test.tsx
  apps/storefront/src/components/PicklistBackorderMessages.tsx
  apps/storefront/src/components/PicklistSelectionBackorderMessage.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailTable.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailTableCard.tsx
  apps/storefront/src/pages/quote/hooks/useQuoteDetailBackorderState.test.ts
  apps/storefront/src/pages/quote/hooks/useQuoteDetailBackorderState.ts
  apps/storefront/src/pages/quote/utils/getQuoteBackorderDisplayFields.test.ts
  apps/storefront/src/pages/quote/utils/getQuoteBackorderDisplayFields.ts
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
  apps/storefront/src/utils/catalogBackorderDisplay.test.ts
  apps/storefront/src/utils/catalogBackorderDisplay.ts
Due: npx cspell lint

feat(orders): BACK-534 Render backorder prompt for my orders page in b2b.
  apps/storefront/src/components/B3ProductList.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderShipping.tsx
  apps/storefront/src/pages/OrderDetail/context/OrderDetailsContext.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/OrderDetail/shared/applyOrderBackorderHistory.test.ts
  apps/storefront/src/pages/OrderDetail/shared/applyOrderBackorderHistory.ts
  apps/storefront/src/pages/OrderDetail/shared/getRemainingBackorderedQuantity.test.ts
  apps/storefront/src/pages/OrderDetail/shared/getRemainingBackorderedQuantity.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
  apps/storefront/src/types/orderDetail.ts
Due: npx cspell lint

feat(register): B2B-5230 send file metadata in registerCompany mutation
  apps/storefront/src/pages/Registered/RegisterSteps/steps/CompleteStep/registerCompany.test.ts
  apps/storefront/src/pages/Registered/RegisterSteps/steps/CompleteStep/registerCompany.ts
  apps/storefront/src/shared/service/bc/graphql/company.ts
Due: npx cspell lint

docs(agents): add Cursor Cloud setup and run caveats
  AGENTS.md
Due: npx cspell lint

feat(quotes): B2B-5213 Add B2B-3474 PDP SKU rollout
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

refactor(quotes): B2B-5213 Remove unused PDP SKU feature flag
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

style(common): B2B-5213 Reorganize feature flag order
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

feat(common): B2B-5309 Remove multiple API calls on load and update
  apps/storefront/src/hooks/useMobile.test.ts
  apps/storefront/src/hooks/useMobile.ts
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
Due: npx cspell lint

feat(orders): BACK-660 Render backorder prompt for reorder/add to shopping list
  apps/storefront/src/pages/OrderDetail/components/OrderCheckboxProduct.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderDialog.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/OrderDetail/shared/getOrderPicklistSelections.ts
Due: npx cspell lint

feat(quotes): BACK-722 Implement backorders for picklist children in ordered quotes. (#950)
  apps/storefront/src/components/PicklistBackorderMessages.test.tsx
  apps/storefront/src/components/PicklistBackorderMessages.tsx
  apps/storefront/src/components/PicklistSelectionBackorderMessage.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailTable.tsx
  apps/storefront/src/pages/quote/components/QuoteDetailTableCard.tsx
  apps/storefront/src/pages/quote/hooks/useQuoteDetailBackorderState.test.ts
  apps/storefront/src/pages/quote/hooks/useQuoteDetailBackorderState.ts
  apps/storefront/src/pages/quote/utils/getQuoteBackorderDisplayFields.test.ts
  apps/storefront/src/pages/quote/utils/getQuoteBackorderDisplayFields.ts
  apps/storefront/src/shared/service/b2b/graphql/quote.ts
  apps/storefront/src/utils/catalogBackorderDisplay.test.ts
  apps/storefront/src/utils/catalogBackorderDisplay.ts
Due: npx cspell lint

feat(common):B2B-5309 Remove multiple API calls on load and update (#972)
  apps/storefront/src/hooks/useMobile.test.ts
  apps/storefront/src/hooks/useMobile.ts
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

fix(common): B2B-4938 fix UT and accountSettings
  apps/storefront/src/pages/AccountSetting/index.test.tsx
  apps/storefront/src/pages/AccountSetting/index.tsx
Due: npx cspell lint

feat(other): LOCAL-1444 delivery translation
  apps/storefront/src/lib/lang/locales/da.json
  apps/storefront/src/lib/lang/locales/de.json
  apps/storefront/src/lib/lang/locales/es-419.json
  apps/storefront/src/lib/lang/locales/es-AR.json
  apps/storefront/src/lib/lang/locales/es-CL.json
  apps/storefront/src/lib/lang/locales/es-CO.json
  apps/storefront/src/lib/lang/locales/es-LA.json
  apps/storefront/src/lib/lang/locales/es-MX.json
  apps/storefront/src/lib/lang/locales/es-PE.json
  apps/storefront/src/lib/lang/locales/es.json
  apps/storefront/src/lib/lang/locales/fr.json
  apps/storefront/src/lib/lang/locales/it.json
  apps/storefront/src/lib/lang/locales/ja.json
  apps/storefront/src/lib/lang/locales/nl.json
  apps/storefront/src/lib/lang/locales/no.json
  apps/storefront/src/lib/lang/locales/pl.json
  apps/storefront/src/lib/lang/locales/pt-BR.json
  apps/storefront/src/lib/lang/locales/pt.json
  apps/storefront/src/lib/lang/locales/sv.json
Due: prettier --write

feat(quotes): B2B-3474 Enhance SKU handling in quotes
  apps/storefront/src/hooks/dom/getPdpSku.test.ts
  apps/storefront/src/hooks/dom/getPdpSku.ts
  apps/storefront/src/hooks/dom/useMyQuote.test.tsx
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/usePurchasableQuote.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/pages/PDP/index.b2b.test.tsx
  apps/storefront/src/pages/PDP/index.tsx
Due: npx cspell lint

chore(products): B2B-3705 Remove interpolated query use and legacy function behaviour
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/utils/featureFlags.ts
Due: npx cspell lint

B2B-5213: Translated SKU markup fix (#974)
  apps/storefront/src/hooks/dom/getPdpSku.test.ts
  apps/storefront/src/hooks/dom/getPdpSku.ts
  apps/storefront/src/hooks/dom/useMyQuote.test.tsx
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/usePurchasableQuote.ts
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/pages/PDP/index.b2b.test.tsx
  apps/storefront/src/pages/PDP/index.tsx
Due: npx cspell lint

feat(orders): BACK-534 Render backorder information for my orders and company orders pages. (#973)
  apps/storefront/src/components/B3ProductList.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderAction.tsx
  apps/storefront/src/pages/OrderDetail/components/OrderShipping.tsx
  apps/storefront/src/pages/OrderDetail/context/OrderDetailsContext.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/OrderDetail/shared/applyOrderBackorderHistory.test.ts
  apps/storefront/src/pages/OrderDetail/shared/applyOrderBackorderHistory.ts
  apps/storefront/src/pages/OrderDetail/shared/getRemainingBackorderedQuantity.test.ts
  apps/storefront/src/pages/OrderDetail/shared/getRemainingBackorderedQuantity.ts
  apps/storefront/src/shared/service/bc/graphql/orders.ts
  apps/storefront/src/types/orderDetail.ts
Due: npx cspell lint

fix(common): B2B-4938 PR comments
  apps/storefront/.eslintrc.cjs
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/pages/AccountSetting/useAccountSettingsSubmit.ts
  apps/storefront/src/pages/AccountSetting/utils.test.ts
  apps/storefront/src/pages/AccountSetting/utils.ts
  apps/storefront/src/types/accountSetting.ts
Due: prettier --write, npx cspell lint

fix(common): B2B-4938 Remove Date now check and reset captcha mechanism
  apps/storefront/src/pages/AccountSetting/index.tsx
  apps/storefront/src/pages/AccountSetting/useAccountSettingsSubmit.ts
  apps/storefront/src/pages/AccountSetting/utils.test.ts
  apps/storefront/src/pages/AccountSetting/utils.ts
Due: npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
