Repository bigcommerce/b2b-buyer-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx cspell lint

fix(common): B2B-3463 remove unintentional newline and fix typo in variable
  apps/storefront/generate-translations-csv.ts
  apps/storefront/package.json
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  packages/eslint-config-b2b/.eslintrc.js
Due: prettier --write, npx cspell lint

refactor(common): B2B-3463 Use the CSV package instead of json-2-csv
  .circleci/config.yml
  apps/storefront/generate-translations-csv.ts
  apps/storefront/package.json
  yarn.lock
Due: prettier --write, npx cspell lint

feat(common): B2B-3325 Add feature flags support
  apps/storefront/src/hooks/index.ts
  apps/storefront/src/hooks/useFeatureFlags.test.ts
  apps/storefront/src/hooks/useFeatureFlags.ts
  apps/storefront/src/store/slices/global.ts
  apps/storefront/src/utils/featureFlags.ts
  apps/storefront/src/utils/storefrontConfig.ts
  apps/storefront/tests/storeStateBuilders/globalStateBuilder.ts
Due: npx cspell lint

feat(orders): B2B-3250 adding link to download digital product file
  apps/storefront/src/components/B3ProductList.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/OrderDetail/components/DownloadDigitalProductsDialog/DownloadDigitalProductsDialog.tsx
  apps/storefront/src/pages/OrderDetail/components/DownloadDigitalProductsDialog/handleDownloadDigitalFile.ts
  apps/storefront/src/pages/OrderDetail/components/OrderBilling.tsx
  apps/storefront/src/pages/OrderDetail/components/getDigitalDownloadElements.ts
  apps/storefront/src/pages/OrderDetail/context/OrderDetailsContext.tsx
  apps/storefront/src/pages/OrderDetail/index.test.tsx
  apps/storefront/src/pages/OrderDetail/index.tsx
  apps/storefront/src/pages/OrderDetail/shared/B2BOrderData.ts
  apps/storefront/src/types/orderDetail.ts
  apps/storefront/src/types/products.ts
  apps/storefront/src/types/shoppingList.ts
Due: prettier --write, npx cspell lint

feat(quotes): B2B-3325 Add backend product validation on quote draft page
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/quote/components/AddToQuote.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

fix(account): B2B-3453 include captcha key in register
  apps/storefront/src/pages/Registered/RegisterComplete.tsx
  apps/storefront/src/shared/service/b2b/graphql/register.ts
Due: npx cspell lint

fix(common): B2B-3453 rename recaptcha key field
  apps/storefront/src/shared/service/b2b/graphql/register.ts
Due: npx cspell lint

refactor(common): FE-434 Remove @mui/material patch for `x-y of z`
  apps/storefront/src/components/table/B3Table.tsx
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/UserManagement/table/B3Table.tsx
  apps/storefront/src/pages/order/table/B3Table.tsx
  package.json
  patches/@mui+material+5.18.0.patch
  yarn.lock
Due: prettier --write, npx cspell lint

refactor(common): B2B-3492 Reformat .eslintrc.cjs to match JS files
  apps/storefront/.eslintrc.cjs
Due: none

refactor(common): B2B-3492 Remove eslint-config-b2b
  apps/storefront/.eslintrc.cjs
  apps/storefront/knip.jsonc
  apps/storefront/package.json
  apps/storefront/src/components/captcha/Captcha.tsx
  apps/storefront/src/components/form/ui.ts
  apps/storefront/src/utils/b3Logger.ts
  apps/storefront/tests/setup-test-environment.ts
  package.json
  packages/eslint-config-b2b/.eslintrc.js
  packages/eslint-config-b2b/.lintstagedrc.json
  packages/eslint-config-b2b/package.json
  yarn.lock
Due: prettier --write, npx cspell lint

feat(quotes): B2B-3325 Call validation query when adding products from PDP
  apps/storefront/src/hooks/dom/useMyQuote.ts
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/hooks/dom/utils.ts
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

feat(common): B2B-3330 remove only on test
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(common): B2B-3330 minor fixes
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(common): B2B-3330 add csv add to quote
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(common): B2B-3330 buyer portal unit test adding to draft quote
  apps/storefront/src/pages/QuickOrder/index.main.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(common): B2B-3330 refactor and add name to product upload mutation
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
Due: npx cspell lint

feat(common): B2B-3330 adding row to uploadProduct response
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3330 remove wait for dialog to be removed
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
Due: npx cspell lint

feat(quotes): B2B-3325 Add backend product validation on quote draft page
  apps/storefront/src/lib/lang/locales/en.json
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/QuoteDraft/index.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/AddToShoppingList.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/QuickAdd.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/SearchProduct.tsx
  apps/storefront/src/pages/quote/components/AddToQuote.tsx
  apps/storefront/src/utils/validateProducts.ts
Due: prettier --write, npx cspell lint

feat(quotes): B2B-3325 Hide error messages in product table when backordering is enabled
  apps/storefront/src/pages/QuoteDraft/index.test.tsx
  apps/storefront/src/pages/quote/components/QuoteTable.tsx
  apps/storefront/src/shared/service/b2b/graphql/product.ts
  apps/storefront/src/types/products.ts
Due: npx cspell lint

fix(quotes): B2B-3325 Remove validation warning snackbar on PDP
  apps/storefront/src/hooks/dom/utils.test.ts
  apps/storefront/src/hooks/dom/utils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 flag validations to include 'true' as a possible value
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/utils/storefrontConfig.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 rename functions and variables
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/shared/utils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 implement strategy pattern into cart validation
  apps/storefront/src/hooks/useInventoryValidation.ts
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 simplify logic on re add cart backend validation
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 removing console log
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 clean up unsused variables
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
Due: npx cspell lint

feat(shopping-lists): B2B-3321 add to cart to support backordering
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.tsx
  apps/storefront/src/shared/utils.ts
Due: npx cspell lint

feat(shopping-lists): B2B-3321 refactor to functional insetad of object oriented
  apps/storefront/src/hooks/useInventoryValidation.test.ts
  apps/storefront/src/hooks/useInventoryValidation.ts
  apps/storefront/src/pages/ShoppingListDetails/components/ReAddToCart.tsx
  apps/storefront/src/pages/ShoppingListDetails/components/ShoppingDetailFooter.tsx
  apps/storefront/src/pages/ShoppingListDetails/index.test.tsx
  apps/storefront/src/shared/utils.ts
Due: npx cspell lint

Path conditions:
  prettier --write: any of: **/*.json
  npx cspell lint: any of: **/*.{js,jsx,ts,tsx,md}
